.chartBarsWrap {
  padding-left: 40px;
  margin: 0 30px 0 20px;
}
.chartBars {
  position: relative;
  max-width: 600px;
  height: 300px;
  margin: 50px auto 100px;
}
.chartBars .bars {
  display: flex;
  justify-content: space-around;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  width: 100%;
  height: 100%;
  padding: 0;
  padding: 0 1%;
  margin: 0;
}
.chartBars .bars li {
  display: inline-block;
  flex: 0 1 24%;
  height: 100%;
  margin: 0;
  text-align: center;
  position: relative;
  font-size: 16px;
}
.chartBars .bars li .bar {
  width: 100%;
  background: #49E;
  position: absolute;
  font-size: 1.5em;
  color: #fff;
  padding-top: 18px;
  bottom: 0;
  height: 0;
  overflow: hidden;
  font-weight: bold;
  outline: 2px solid transparent;
  transition: 1.5s height cubic-bezier(0.6, 0.4, 0.4, 1.1);
}
.chartBars .bars li .bar:after {
  content: '%';
  font-size: 22px !important;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.8);
  margin-right: -8px;
}
.chartBars.short .bars li .bar {overflow:visible;}
.chartBars.short .bars li .bar:after {
  font-size: 18px !important;
  position:relative;top:-40px;
  color: black;
}

.chartBars .bars li b {
  color: #eee;
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
}
.chartBars .numbers {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  left: -50px;
}
.chartBars .numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 59px;
  position: relative;
  font-size: 13px;
  bottom: 11px;
  right: -9px;
  color: #eee;
}
.chartBars .numbers li:after {
  content: "\00af";
  position: relative;
  right: -5px;
  font-size: 20px;
  top: 7px;
  color: rgba(255, 255, 255, 0.34);
}
.chartBars .numbers li:first-of-type {
  height: 63px;
  margin-top: -1px;
}
.chartBars1 .bar {
  border-top-right-radius: 30px;
}
.chartBars2 {
  max-width: 350px;
}
.chartBars2 .bars {
  padding: 0;
}
.chartBars2 .bars li {
  flex: 0 1 25%;
}
.chartBars2 .bars li .bar {
  box-shadow: 0 0 20px #222;
}
.chartBars3 {
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid #666;
  border-right: 1px solid #666;
}
.chartBars3 .bars {
  border-color: #666;
  padding: 0;
}
.chartBars3 .bars li .bar {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 22px !important;
}
.chartBars3 .bars li .bar:after {
  font-size: 0.6em !important;
}
.chartBarsWrap.chartBarsHorizontal {
  flex-direction: column;
  padding-left: 70px;
}
.chartBarsWrap.chartBarsHorizontal .bars b {
  color: #eee;
  width: 100%;
  position: absolute;
  bottom: initial;
  top: 1em;
  left: -102%;
  text-align: right;
}
.chartBarsWrap.chartBarsHorizontal .chartBars {
  height: 200px;
}
.chartBarsWrap.chartBarsHorizontal .chartBars .bars {
  border: 0;
}
.chartBarsWrap.chartBarsHorizontal .chartBars .bars .bar {
  width: 0;
  padding-top: 10px;
  height: 100% !important;
  text-align: right;
  font-size: 1.5em;
  transition: 2s width cubic-bezier(0.6, 0.4, 0.4, 1.1);
}
.chartBarsWrap.chartBarsHorizontal .chartBars .bars .bar:after {
  font-size: 0.6em !important;
  margin-right: 20px;
}

.bars li .bar.whiteBar {
  background-color: #e7e7e7;
  background: radial-gradient(#c7c7c7, #e7e7e7);
}
.bars li .bar.whiteBarFlat {
  background-color: #e7e7e7;
}
.bars li .bar.blackBar {
  background-color: #232323;
  background: radial-gradient(#232323, #444444);
}
.bars li .bar.blackBarFlat {
  background-color: #232323;
}
.bars li .bar.redBar {
  background-color: #d71212;
  background: radial-gradient(#ed1010, #c20505);
}
.bars li .bar.redBarFlat {
  background-color: #da1919;
}
.bars li .bar.dkredBar {
  background-color: #821c1c;
  background: radial-gradient(#aa1717, #890c0c);
}
.bars li .bar.dkredBarFlat {
  background-color: #822626;
}
.bars li .bar.yellowBar {
  background-color: #ddcc03;
  background: radial-gradient(#fbef16, #d8b400);
}
.bars li .bar.yellowBarFlat {
  background-color: #dbca03;
}
.bars li .bar.greenBar {
  background-color: #56ce38;
  background: radial-gradient(#57ce39, #39b21b);
}
.bars li .bar.greenBarFlat {
  background-color: #56ce38;
}
.bars li .bar.dkgreenBar {
  background-color: #368619;
  background: radial-gradient(#4a9e2c, #267409);
}
.bars li .bar.dkgreenBarFlat {
  background-color: #368619;
}
.bars li .bar.orangeBar {
  background-color: orange;
  background: radial-gradient(#ffc250, #e39400);
}
.bars li .bar.orangeBarFlat {
  background-color: orange;
}
.bars li .bar.purpleBar {
  background-color: #6e46af;
  background: radial-gradient(#9778c9, #7945ce);
}
.bars li .bar.purpleBarFlat {
  background-color: #6e46af;
}
.bars li .bar.blueBar {
  background-color: #373cd5;
  background: radial-gradient(#5257e5, #1c22c4);
}
.bars li .bar.blueBarFlat {
  background-color: #373cd5;
}
.bars li .bar.cyanBar {
  background-color: #30a8cc;
  background: radial-gradient(#43bbdf, #1999bf);
}
.bars li .bar.cyanBarFlat {
  background-color: #30a8cc;
}
.bars li .bar.oliveBar {
  background-color: #7d9d12;
  background: radial-gradient(#a0c232, #71900a);
}
.bars li .bar.oliveBarFlat {
  background-color: #7d9d12;
}

.chartColor.white{color:#e7e7e7;}
.chartColor.black{color:#232323;}
.chartColor.red{color:#d71212;}
.chartColor.dkred{color:#821c1c;}
.chartColor.yellow{color:#ddcc03;}
.chartColor.green{color:#56ce38;}
.chartColor.dkgreen{color:#368619;}
.chartColor.orange{color:orange;}
.chartColor.purple{color:#6e46af;}
.chartColor.blue{color:#373cd5;}
.chartColor.cyan{color:#30a8cc;}
.chartColor.olive{color:#7d9d12;}

.chartColor.bigStyle{font-family: 'lobster', sans-serif;font-size:42px;}

.box-piesite {
  text-align: center;
  font-size: 22px;
}
.piesite {
  position: relative;
  width: 1em;
  height: 1em;
  font-size: 10em;
  cursor: default;
}
.piesite .label {
 position:absolute;
 z-index:999;
 color:white;
 font-size: 0.3em;
 width:100%;
 text-align:center;	
}
.piesite .percent {
  position: absolute;
  top: 1.1em;
  left: 0.1em;
  width: 100%;
  font-size: 0.3em;
  text-align: center;
  z-index: 2;
}
.piesite .percent .symbol {
  font-size: 0.5em;
  vertical-align: top;
  opacity: 0.5;
}
.piesite > #slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0px, 1em, 1em, 0.5em);
}
.piesite > #slice.gt50 {
  clip: rect(auto, auto, auto, auto);
}
.piesite > #slice > .pie {
  position: absolute;
  border: 0.1em solid #444;
  width: 1em;
  height: 1em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 0.5em;
}

li.red .piesite > #slice > .pie {
  border-color: #d71212;
}
li.orange .piesite > #slice > .pie {
  border-color: orange;
}
li.yellow .piesite > #slice > .pie {
  border-color: #ddcc03;
}
li.green .piesite > #slice > .pie {
  border-color: #56ce38;
}
li.cyan .piesite > #slice > .pie {
  border-color: #30a8cc;
}
li.blue .piesite > #slice > .pie {
  border-color: #373cd5;
}
li.purple .piesite > #slice > .pie {
  border-color: #6e46af;
}
li.olive .piesite > #slice > .pie {
  border-color: #7d9d12;
}
li.dkgreen .piesite > #slice > .pie {
  border-color: #6B8E23;
}
li.dkred .piesite > #slice > .pie {
  border-color: #821c1c;
}
li.black .piesite > #slice > .pie {
  border-color: #232323;
}
li.white .piesite > #slice > .pie {
  border-color: #e7e7e7;
}

.piesite > #slice > .pie.fill {
  -webkit-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
}
.piesite.fill > .percent {
  display: none;
}
.piesite:after {
  content: '';
  display: block;
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  width: 0.8em;
  height: 0.8em;
  background: #30303A;
  border-radius: 100%;
  z-index: 1;
}
.piesite:before {
  content: '';
  display: block;
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  opacity: 0.5;
  z-index: 0;
}
.piesite:before {
  background: rgba(255, 255, 255, 0.1);
}
.box-piesite ul {
  padding: 0;
}
.box-piesite ul li {
  display: inline-block;
  margin: 10px 20px;
}
.box-piesite ul li .title{
	margin-top:20px;
	border-top:2px solid rgba(127, 127, 127, 0.52);	
	color:grey;
	font-family: 'latosemibold', sans-serif;
	font-size:20px;
}
.box-piesite ul li .title.dark{
	border-color:rgba(255, 255, 255, 0.59);
  color:white;
}
.box-piesite ul li .title.light{
	border-color:rgba(0, 0, 0, 0.55);
  color:black;
}
.chartBarsHorizontal .chartBars .bars {
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .bar:before {
    font-size: 2em !important;
  }
  .chartBars3 .bar:before {
    font-size: 1.5em !important;
  }
}
.ctooltip > .ctooltipContent {
  display: block;
  position: absolute;
  background: none repeat scroll 0 0 #222;
  color: #F0B015;
  font-family: 'Helvetica';
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.5em;
  padding: 16px 15px;
  min-width: 200px;
  max-width: 500px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -110%);
          transform: translate(-50%, -110%);
  margin-left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  text-align: center;
  z-index: 2;
  text-transform: none;
  transition: all 0.3s ease-in-out;
}
.ctooltip:hover > .ctooltipContent {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 99;
  -webkit-transform: translate(-50%, -130%);
          transform: translate(-50%, -130%);
  transition: all 0.2s ease;
}
.ctooltip .ctooltipContent:after {
  border-color: #222 rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 15px 15px 0;
  bottom: -15px;
  content: "";
  display: block;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  width: 0;
}
* {
  box-sizing: border-box;
}
