span.icon{
    background-image:url('/images/iconSheet-white.png');
}
a.icon{
    background-image:url('/images/iconSheet-white.png');
}
div.labelButton a span.icon, ul.labelButton li a span.icon{	
	background-image:url('/images/iconSheet-black.png');
	opacity:.7;
}