:root {
    --role1txt: 'chief executive';
    --role2txt: 'medical support';
    --role3txt: 'physical therapist';
    --role4txt: 'claim manager';
    --role5txt: 'agent';
    --role6txt: 'service agent';
    --role7txt: 'safety coordinator';
    --role8txt: 'supervisor';
    --role9txt: 'human resources';
    --role10txt: 'other';
    --textemail: #4182fa;
    --textphone: #b16dff;
    --text: #ffffff;
    --textdim: #a8a8a8;
    --link: #00cc00;
    --linkh: #00ff00;
    --moodc1: #f50b07;
    --moodc2: #f56e07;
    --moodc3: #f5b607;
    --moodc4: #f5d107;
    --moodc5: #c9f507;
    --moodc6: #aef507;
    --moodc7: #8ef507;
    --moodc8: #4bcc00;
    --moodc9: #0fb100;
    --moodc10: #0da100;
    --moodc1t: rgba(245, 11, 7, 0.70);
    --moodc2t: rgba(245, 110, 7, 0.70);
    --moodc3t: rgba(245, 170, 7, 0.7);
    --moodc4t: rgba(241, 245, 7, 0.7);
    --moodc5t: rgba(201, 245, 7, 0.7);
    --moodc6t: rgba(161, 245, 7, 0.70);
    --moodc7t: rgba(106, 245, 7, 0.70);
    --moodc8t: rgba(39, 231, 0, 0.7);
    --moodc9t: rgba(17, 202, 0, 0.7);
    --moodc10t: rgba(21, 182, 0, 0.7);
    --severityMild: #c0ad04;
    --severityMild-h: #d4c006;
    --severityMild-a: #9b8c02;
    --severityModerate: #e9810a;
    --severityModerate-h: #ffa743;
    --severityModerate-a: #b36105;
    --severitySevere: #e60606;
    --severitySevere-h: #fd3b3b;
    --severitySevere-a: #a80505;
    --messageBG: rgba(255, 255, 255, 0.1);
    --messageBG-h: rgba(255, 255, 255, 0.192);
    --messageChatBG: rgba(255, 255, 255, 0.2);
    --resolvedPost: rgba(55, 236, 18, 0.5);
    --reopenedPost: rgba(241, 181, 13, 0.5);
    --chatPost: rgba(255, 123, 0, 0.5);
    --firstReportPost: rgba(233, 84, 47, 0.514);
    --claimNumberPost: rgba(116, 201, 168, 0.5);
    --reclassifiedPost: rgba(117, 54, 117, 0.5);
    --diaryPost: rgba(166, 255, 0, 0.5);
    --valuePost: rgba(121, 116, 185, 0.5);
    --systemPost: rgba(25, 146, 140, 0.5);
    --reportTimeGoodPost: rgba(14, 151, 14, 0.5);
    --reportTimeBadPost: rgba(148, 17, 17, 0.5);
    --reportTimeOkayPost: rgba(173, 150, 17, 0.5);
    --employeeStatusPost: rgba(116, 186, 233, 0.5);
    --finalCostPost: rgba(16, 109, 29, 0.5);
    --adjusterPost: rgba(201, 105, 158, 0.5);
    --notesPost: rgba(165, 159, 123, 0.5);
    --photoPost: rgba(65, 143, 106, 0.5);
    --filePost: rgba(141, 130, 69, 0.5);
    --newInjuryPost: rgba(218, 44, 38, 0.5);
    --reserveBadPost: rgba(126, 12, 12, 0.5);
    --reserveGoodPost: rgba(13, 134, 9, 0.5);
    --reminderPost: rgba(255, 177, 103, 0.5);
    --newTaskPost: rgba(44, 126, 250, 0.5);
    --completeTaskPost: rgba(231, 49, 255, 0.5);
    --taskReminderPost: rgba(255, 157, 10, 0.5);
    --expiredTaskPost: rgba(167, 167, 167, 0.5);
    --statusButton: #363636;
    --statusHospital: #e61151;
    --statusHospital-h: #ff3471;
    --statusHospital-a: #8f1238;
    --statusUrgentcare: #da1db1;
    --statusUrgentcare-h: #f729ca;
    --statusUrgentcare-a: #810967;
    --statusDoctor: #8031e9;
    --statusDoctor-h: #a25cfd;
    --statusDoctor-a: #5a2a99;
    --statusRecoverhome: #178aa7;
    --statusRecoverhome-h: #30b9db;
    --statusRecoverhome-a: #146d83;
    --statusLightduty: #23a197;
    --statusLightduty-h: #3fc7bc;
    --statusLightduty-a: #1a6b64;
    --statusFullduty: #26864e;
    --statusFullduty-h: #3fc276;
    --statusFullduty-a: #196b3b;
    --statusMaxrecovery: #68b114;
    --statusMaxrecovery-h: #8edb35;
    --statusMaxrecovery-a: #487911;
    --statusTerminated: #611717;
    --statusTerminated-h: #a33333;
    --statusTerminated-a: #501010;
    --statusResigned: #7a491b;
    --statusResigned-h: #b6763b;
    --statusResigned-a: #4b2c0f;
    --statusDeath: #101c2b;
    --statusDeath-h: #2c4461;
    --statusDeath-a: #040b13;
    --zenisphere: #3c84dc;
    --zencare: #db3b8e;
    --zc-tabs: #292929;
    --zc-tabs-hover: #373737;
    --zc-tabs-text: #a5a5a5;
    --zc-tabs-icon: #636363;
    --overview: #b51a6f;
    --overview-icon: #fa83c6;
    --zenguide: #1583c2;
    --zenguide-icon: #2fd9f8;
    --communicate: #ad7114;
    --communicate-icon: #f4be05;
    --billingaddress: #6cb859;
    --billingaddress-icon: #a9eb98;
    --billingtype: #1ab59b;
    --billingtype-icon: #83fad2;
    --redtab: #bd3434;
    --redtab-icon: #e46c6c;
    --bluetab: #498bc0;
    --bluetab-icon: #7ebbec;
    --greentab: #62ac46;
    --greentab-icon: #9fe487;
    --user: #1c5bb9;
    --user-s: #2b8eff;
    --team: #7f3891;
    --team-s: #a84ebe;
    --team-icon: #c754dd;



    --teamtemplate: #5419b3;
    --teamtemplate-s: #6f28e2;
    --claimcosts: #449022;
    --claimcosts-icon: #74d540;
    --appointments: #7a8b1c;
    --appointments-icon: #cbfc66;
    --files: #9d8c17;
    --files-icon: #f7ea6a;
    --filter: #87269b;
    --filter-h: #c34adb;
    --filtered: #9628ac;
    --activeteams: #b60ee9;
    --activeteams-icon: #ff7de3;
    --manageteams: #6a0de2;
    --manageteams-icon: #dd94ff;
    --manageusers: #0e81ce;
    --manageusers-icon: #80ecff;
    --roleRequired: #8a0e0e;
    --roleRequiredh: #e03434;
    --roleSuggested: #997e13;
    --roleSuggestedh: #e0bd34;
    --roleOptional: #658813;
    --roleOptionalh: #95c721;
    --alert: #ffb01e;
    --critical: #ff4f4f;
    --complete: #069b06;
    --normalblue: #5599ff;
    --animate-delay: 0.5s;
    --arcGaugeValue: 45deg;
}