@charset "UTF-8";

@font-face {
  font-family: "zenjuriesfont";
  src:url("/fonts/zenjuriesfont.eot");
  src:url("/fonts/zenjuriesfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/zenjuriesfont.woff") format("woff"),
    url("/fonts/zenjuriesfont.ttf") format("truetype"),
    url("/fonts/zenjuriesfont.svg#zenjuriesfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "zenjuriesfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "zenjuriesfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e000";
}
.icon-arrow-left:before {
  content: "\e001";
}
.icon-arrow-right:before {
  content: "\e002";
}
.icon-arrow-up:before {
  content: "\e003";
}
.icon-bar-chart:before {
  content: "\e004";
}
.icon-bed:before {
  content: "\e005";
}
.icon-bell:before {
  content: "\e006";
}
.icon-bell-o:before {
  content: "\e007";
}
.icon-bell-slash:before {
  content: "\e008";
}
.icon-bell-slash-o:before {
  content: "\e009";
}
.icon-book:before {
  content: "\e00a";
}
.icon-bookmark:before {
  content: "\e00b";
}
.icon-bookmark-o:before {
  content: "\e00c";
}
.icon-briefcase:before {
  content: "\e00d";
}
.icon-bug:before {
  content: "\e00e";
}
.icon-calculator:before {
  content: "\e00f";
}
.icon-calendar:before {
  content: "\e010";
}
.icon-calendar-check-o:before {
  content: "\e011";
}
.icon-calendar-minus-o:before {
  content: "\e012";
}
.icon-calendar-o:before {
  content: "\e013";
}
.icon-calendar-plus-o:before {
  content: "\e014";
}
.icon-calendar-times-o:before {
  content: "\e015";
}
.icon-camera:before {
  content: "\e016";
}
.icon-certificate:before {
  content: "\e017";
}
.icon-check:before {
  content: "\e018";
}
.icon-check-circle:before {
  content: "\e019";
}
.icon-circle:before {
  content: "\e01a";
}
.icon-circle-o:before {
  content: "\e01b";
}
.icon-clipboard:before {
  content: "\e01c";
}
.icon-cloud:before {
  content: "\e01d";
}
.icon-cloud-download:before {
  content: "\e01e";
}
.icon-cloud-upload:before {
  content: "\e01f";
}
.icon-cog:before {
  content: "\e020";
}
.icon-cogs:before {
  content: "\e021";
}
.icon-columns:before {
  content: "\e022";
}
.icon-comment:before {
  content: "\e023";
}
.icon-comment-o:before {
  content: "\e024";
}
.icon-commenting:before {
  content: "\e025";
}
.icon-commenting-o:before {
  content: "\e026";
}
.icon-comments:before {
  content: "\e027";
}
.icon-comments-o:before {
  content: "\e028";
}
.icon-compass:before {
  content: "\e029";
}
.icon-cube:before {
  content: "\e02a";
}
.icon-cubes:before {
  content: "\e02b";
}
.icon-database:before {
  content: "\e02c";
}
.icon-desktop:before {
  content: "\e02d";
}
.icon-download:before {
  content: "\e02e";
}
.icon-dropbox:before {
  content: "\e02f";
}
.icon-ellipsis-h:before {
  content: "\e030";
}
.icon-ellipsis-v:before {
  content: "\e031";
}
.icon-envelope:before {
  content: "\e032";
}
.icon-envelope-o:before {
  content: "\e033";
}
.icon-eraser:before {
  content: "\e034";
}
.icon-exclamation-circle:before {
  content: "\e035";
}
.icon-exclamation-triangle:before {
  content: "\e036";
}
.icon-eyedropper:before {
  content: "\e037";
}
.icon-facebook-square:before {
  content: "\e038";
}
.icon-file:before {
  content: "\e039";
}
.icon-file-image-o:before {
  content: "\e03a";
}
.icon-file-o:before {
  content: "\e03b";
}
.icon-file-pdf-o:before {
  content: "\e03c";
}
.icon-file-text:before {
  content: "\e03d";
}
.icon-file-text-o:before {
  content: "\e03e";
}
.icon-file-video-o:before {
  content: "\e03f";
}
.icon-files-o:before {
  content: "\e040";
}
.icon-film:before {
  content: "\e041";
}
.icon-filter:before {
  content: "\e042";
}
.icon-floppy-o:before {
  content: "\e043";
}
.icon-globe:before {
  content: "\e044";
}
.icon-heart:before {
  content: "\e045";
}
.icon-heart-o:before {
  content: "\e046";
}
.icon-heartbeat:before {
  content: "\e047";
}
.icon-home:before {
  content: "\e048";
}
.icon-info-circle:before {
  content: "\e049";
}
.icon-laptop:before {
  content: "\e04a";
}
.icon-life-ring:before {
  content: "\e04b";
}
.icon-lightbulb-o:before {
  content: "\e04c";
}
.icon-linkedin-square:before {
  content: "\e04d";
}
.icon-list:before {
  content: "\e04e";
}
.icon-location-arrow:before {
  content: "\e04f";
}
.icon-lock:before {
  content: "\e050";
}
.icon-map:before {
  content: "\e051";
}
.icon-map-marker:before {
  content: "\e052";
}
.icon-map-pin:before {
  content: "\e053";
}
.icon-map-signs:before {
  content: "\e054";
}
.icon-medkit:before {
  content: "\e055";
}
.icon-minus-circle:before {
  content: "\e056";
}
.icon-mobile:before {
  content: "\e057";
}
.icon-picture-o:before {
  content: "\e058";
}
.icon-phone-square:before {
  content: "\e059";
}
.icon-phone:before {
  content: "\e05a";
}
.icon-pencil-square-o:before {
  content: "\e05b";
}
.icon-pencil:before {
  content: "\e05c";
}
.icon-pencil-square:before {
  content: "\e05d";
}
.icon-paper-plane:before {
  content: "\e05e";
}
.icon-paper-plane-o:before {
  content: "\e05f";
}
.icon-pie-chart:before {
  content: "\e060";
}
.icon-play:before {
  content: "\e061";
}
.icon-play-circle:before {
  content: "\e062";
}
.icon-plus-circle:before {
  content: "\e063";
}
.icon-plus:before {
  content: "\e064";
}
.icon-minus:before {
  content: "\e065";
}
.icon-power-off:before {
  content: "\e066";
}
.icon-question:before {
  content: "\e067";
}
.icon-question-circle:before {
  content: "\e068";
}
.icon-repeat:before {
  content: "\e069";
}
.icon-reply:before {
  content: "\e06a";
}
.icon-reply-all:before {
  content: "\e06b";
}
.icon-retweet:before {
  content: "\e06c";
}
.icon-rocket:before {
  content: "\e06d";
}
.icon-search:before {
  content: "\e06e";
}
.icon-search-minus:before {
  content: "\e06f";
}
.icon-search-plus:before {
  content: "\e070";
}
.icon-server:before {
  content: "\e071";
}
.icon-share:before {
  content: "\e072";
}
.icon-share-alt:before {
  content: "\e073";
}
.icon-sign-in:before {
  content: "\e074";
}
.icon-sign-out:before {
  content: "\e075";
}
.icon-sitemap:before {
  content: "\e076";
}
.icon-sliders:before {
  content: "\e077";
}
.icon-sort-alpha-asc:before {
  content: "\e078";
}
.icon-sort-alpha-desc:before {
  content: "\e079";
}
.icon-sort-amount-asc:before {
  content: "\e07a";
}
.icon-sort-amount-desc:before {
  content: "\e07b";
}
.icon-spinner:before {
  content: "\e07c";
}
.icon-square:before {
  content: "\e07d";
}
.icon-square-o:before {
  content: "\e07e";
}
.icon-star:before {
  content: "\e07f";
}
.icon-star-half:before {
  content: "\e080";
}
.icon-star-half-o:before {
  content: "\e081";
}
.icon-star-o:before {
  content: "\e082";
}
.icon-sticky-note:before {
  content: "\e083";
}
.icon-sticky-note-o:before {
  content: "\e084";
}
.icon-stop:before {
  content: "\e085";
}
.icon-street-view:before {
  content: "\e086";
}
.icon-suitcase:before {
  content: "\e087";
}
.icon-sun-o:before {
  content: "\e088";
}
.icon-table:before {
  content: "\e089";
}
.icon-tablet:before {
  content: "\e08a";
}
.icon-tachometer:before {
  content: "\e08b";
}
.icon-tag:before {
  content: "\e08c";
}
.icon-tags:before {
  content: "\e08d";
}
.icon-tasks:before {
  content: "\e08e";
}
.icon-television:before {
  content: "\e08f";
}
.icon-th:before {
  content: "\e090";
}
.icon-th-large:before {
  content: "\e091";
}
.icon-th-list:before {
  content: "\e092";
}
.icon-thumb-tack:before {
  content: "\e093";
}
.icon-thumbs-down:before {
  content: "\e094";
}
.icon-thumbs-o-down:before {
  content: "\e095";
}
.icon-thumbs-o-up:before {
  content: "\e096";
}
.icon-thumbs-up:before {
  content: "\e097";
}
.icon-times:before {
  content: "\e098";
}
.icon-times-circle:before {
  content: "\e099";
}
.icon-times-circle-o:before {
  content: "\e09a";
}
.icon-trash:before {
  content: "\e09b";
}
.icon-trash-o:before {
  content: "\e09c";
}
.icon-twitter-square:before {
  content: "\e09d";
}
.icon-undo:before {
  content: "\e09e";
}
.icon-unlock:before {
  content: "\e09f";
}
.icon-unlock-alt:before {
  content: "\e0a0";
}
.icon-upload:before {
  content: "\e0a1";
}
.icon-users:before {
  content: "\e0a2";
}
.icon-video-camera:before {
  content: "\e0a3";
}
.icon-vimeo-square:before {
  content: "\e0a4";
}
.icon-wrench:before {
  content: "\e0a5";
}
.icon-youtube-square:before {
  content: "\e0a6";
}
.icon-youtube-play:before {
  content: "\e0a7";
}
.icon-bars:before {
  content: "\e0a8";
}
.icon-trademark:before {
  content: "\e0a9";
}
.icon-registered:before {
  content: "\e0aa";
}
.icon-share-alt-square:before {
  content: "\e0ab";
}
.icon-copyright:before {
  content: "\e0ac";
}
.icon-credit-card:before {
  content: "\e0ad";
}
.icon-graduation-cap:before {
  content: "\e0ae";
}
.icon-palette:before {
  content: "\e0af";
}
.icon-workman:before {
  content: "\e0b0";
}
.icon-arrow-circle-down:before {
  content: "\e0b1";
}
.icon-arrow-circle-left:before {
  content: "\e0b2";
}
.icon-arrow-circle-right:before {
  content: "\e0b3";
}
.icon-arrow-circle-up:before {
  content: "\e0b4";
}
.icon-arrows:before {
  content: "\e0b5";
}
.icon-arrows-alt:before {
  content: "\e0b6";
}
.icon-arrows-h:before {
  content: "\e0b7";
}
.icon-arrows-v:before {
  content: "\e0b8";
}
.icon-ban:before {
  content: "\e0b9";
}
.icon-chevron-circle-down:before {
  content: "\e0ba";
}
.icon-chevron-circle-left:before {
  content: "\e0bb";
}
.icon-chevron-circle-right:before {
  content: "\e0bc";
}
.icon-chevron-circle-up:before {
  content: "\e0bd";
}
.icon-addusers:before {
  content: "\e0be";
}
.icon-profilelist:before {
  content: "\e0bf";
}
.icon-checklist:before {
  content: "\e0c0";
}
.icon-books:before {
  content: "\e0c1";
}
.icon-reuser:before {
  content: "\e0c2";
}
.icon-exec:before {
  content: "\e0c3";
}
.icon-setemail:before {
  content: "\e0c4";
}
.icon-tools:before {
  content: "\e0c5";
}
.icon-injuryreport:before {
  content: "\e0c6";
}
.icon-insurance:before {
  content: "\e0c7";
}
.icon-shield:before {
  content: "\e0c8";
}
.icon-support:before {
  content: "\e0c9";
}
.icon-rehab:before {
  content: "\e0ca";
}
.icon-profile:before {
  content: "\e0cb";
}
.icon-hardhat:before {
  content: "\e0cc";
}
.icon-stethoscope:before {
  content: "\e0cd";
}
.icon-doctor:before {
  content: "\e0ce";
}
.icon-checkheart:before {
  content: "\e0d0";
}
.icon-removeuser:before {
  content: "\e0d1";
}
.icon-newheart:before {
  content: "\e0d2";
}
.icon-user:before {
  content: "\e0d3";
}
.icon-plusheart:before {
  content: "\e0d4";
}
.icon-firstreport:before {
  content: "\e0d5";
}
.icon-firstreport2:before {
  content: "\e0d6";
}
.icon-teams:before {
  content: "\e0d7";
}
.icon-apple:before {
  content: "\e0d8";
}
.icon-android:before {
  content: "\e0d9";
}
.icon-newspaper-o:before {
  content: "\e0da";
}
.icon-envelope-square:before {
  content: "\e0db";
}
.icon-code:before {
  content: "\e0dc";
}
.icon-code-fork:before {
  content: "\e0dd";
}
.icon-history:before {
  content: "\e0de";
}
.icon-findinsurance:before {
  content: "\e0df";
}
.icon-bandaid:before {
  content: "\e0e0";
}
.icon-injury:before {
  content: "\e0e1";
}
.icon-crutch:before {
  content: "\e0e2";
}
.icon-malefigure:before {
  content: "\e0e3";
}
.icon-femalefigure:before {
  content: "\e0e4";
}
.icon-mars:before {
  content: "\e0e5";
}
.icon-venus:before {
  content: "\e0e6";
}
.icon-company:before {
  content: "\e0e7";
}
.icon-clinic:before {
  content: "\e0e8";
}
.icon-hospital:before {
  content: "\e0e9";
}
.icon-zencircle:before {
  content: "\e0ea";
}
.icon-relax:before {
  content: "\e0eb";
}
.icon-bonsai:before {
  content: "\e0ec";
}
.icon-paramedic:before {
  content: "\e0ed";
}
.icon-ambulance:before {
  content: "\e0ee";
}
.icon-bamboo1:before {
  content: "\e0ef";
}
.icon-bamboo2:before {
  content: "\e0f0";
}
.icon-bambooleaf:before {
  content: "\e0f1";
}
.icon-zenrocks:before {
  content: "\e0f2";
}
.icon-pills:before {
  content: "\e0f3";
}
.icon-syringe:before {
  content: "\e0f4";
}
.icon-agent:before {
  content: "\e0f5";
}
.icon-setuser:before {
  content: "\e0f7";
}
.icon-setcompany:before {
  content: "\e0f8";
}
.icon-new:before {
  content: "\e0f9";
}
.icon-badge:before {
  content: "\e0fa";
}
.icon-zenlogo:before {
  content: "\e0fb";
}
.icon-zig:before {
  content: "\e0fd";
}
.icon-area-chart:before {
  content: "\e0fe";
}
.icon-bullhorn:before {
  content: "\e0ff";
}
.icon-crop:before {
  content: "\e100";
}
.icon-crosshairs:before {
  content: "\e101";
}
.icon-exchange:before {
  content: "\e102";
}
.icon-level-down:before {
  content: "\e103";
}
.icon-level-up:before {
  content: "\e104";
}
.icon-long-arrow-down:before {
  content: "\e105";
}
.icon-long-arrow-left:before {
  content: "\e106";
}
.icon-long-arrow-right:before {
  content: "\e107";
}
.icon-long-arrow-up:before {
  content: "\e108";
}
.icon-magic:before {
  content: "\e109";
}
.icon-refresh:before {
  content: "\e10a";
}
.icon-share-square:before {
  content: "\e10b";
}
.icon-roundheart:before {
  content: "\e10c";
}
.icon-key:before {
  content: "\e10d";
}
.icon-burst-new:before {
  content: "\e10e";
}
.icon-checkbox:before {
  content: "\e10f";
}
.icon-arrows-compress:before {
  content: "\e110";
}
.icon-arrows-expand:before {
  content: "\e111";
}
.icon-arrows-in:before {
  content: "\e112";
}
.icon-arrows-out:before {
  content: "\e113";
}
.icon-first-aid:before {
  content: "\e114";
}
.icon-graph-trend:before {
  content: "\e115";
}
.icon-graph-pie:before {
  content: "\e116";
}
.icon-graph-bar:before {
  content: "\e117";
}
.icon-graph-horizontal:before {
  content: "\e118";
}
.icon-lightbulb:before {
  content: "\e119";
}
.icon-link:before {
  content: "\e11a";
}
.icon-map2:before {
  content: "\e11b";
}
.icon-paint-bucket:before {
  content: "\e11c";
}
.icon-skull:before {
  content: "\e11d";
}
.icon-unlink:before {
  content: "\e11e";
}
.icon-wheelchair:before {
  content: "\e11f";
}
.icon-onmap:before {
  content: "\e120";
}
.icon-map-o:before {
  content: "\e121";
}
.icon-paperclip:before {
  content: "\e122";
}
.icon-money:before {
  content: "\e123";
}
.icon-print:before {
  content: "\e124";
}
.icon-ticket:before {
  content: "\e125";
}
.icon-checklist2:before {
  content: "\e126";
}
.icon-book2:before {
  content: "\e127";
}
.icon-bookmark2:before {
  content: "\e128";
}
.icon-dashboard:before {
  content: "\e129";
}
.icon-credit-card2:before {
  content: "\e12a";
}
.icon-ellipsis:before {
  content: "\e12b";
}
.icon-database2:before {
  content: "\e12c";
}
.icon-puzzle:before {
  content: "\e12d";
}
.icon-air:before {
  content: "\e12e";
}
.icon-brush:before {
  content: "\e12f";
}
.icon-lifebuoy:before {
  content: "\e130";
}
.icon-picture:before {
  content: "\e131";
}
.icon-thermometer:before {
  content: "\e132";
}
.icon-traffic-cone:before {
  content: "\e133";
}
.icon-water:before {
  content: "\e134";
}
.icon-skype:before {
  content: "\e135";
}
.icon-folder:before {
  content: "\e136";
}
.icon-folder-add:before {
  content: "\e137";
}
.icon-folder-lock:before {
  content: "\e138";
}
.icon-braille:before {
  content: "\e139";
}
.icon-keyboard-o:before {
  content: "\e13a";
}
.icon-eye:before {
  content: "\e13b";
}
.icon-eye-slash:before {
  content: "\e13c";
}
.icon-light-bulb:before {
  content: "\e13d";
}
.icon-die-six:before {
  content: "\e13e";
}
.icon-trophy:before {
  content: "\e140";
}
.icon-floppy:before {
  content: "\e141";
}
.icon-flash:before {
  content: "\e142";
}
.icon-dropbox-1:before {
  content: "\e143";
}
.icon-docs:before {
  content: "\e144";
}
.icon-basket:before {
  content: "\e145";
}
.icon-adjust:before {
  content: "\e146";
}
.icon-clock:before {
  content: "\e147";
}
.icon-clipboard-1:before {
  content: "\e148";
}
.icon-cc-share:before {
  content: "\e149";
}
.icon-erase:before {
  content: "\e14a";
}
.icon-layout:before {
  content: "\e14b";
}
.icon-keyboard:before {
  content: "\e14c";
}
.icon-graduation-cap-1:before {
  content: "\e14d";
}
.icon-magnet:before {
  content: "\e14e";
}
.icon-clock-o:before {
  content: "\e14f";
}
.icon-gift:before {
  content: "\e150";
}
.icon-glass:before {
  content: "\e151";
}
.icon-quote-left:before {
  content: "\e152";
}
.icon-quote-right:before {
  content: "\e153";
}
.icon-random:before {
  content: "\e154";
}
.icon-plug:before {
  content: "\e155";
}
.icon-rss:before {
  content: "\e156";
}
.icon-shield-1:before {
  content: "\e157";
}
.icon-toggle-off:before {
  content: "\e158";
}
.icon-toggle-on:before {
  content: "\e159";
}
.icon-tint:before {
  content: "\e15a";
}
.icon-umbrella:before {
  content: "\e15b";
}
.icon-tree:before {
  content: "\e15c";
}
.icon-university:before {
  content: "\e15d";
}
.icon-truck:before {
  content: "\e15e";
}
.icon-whatsapp:before {
  content: "\e15f";
}
.icon-lock-1:before {
  content: "\e160";
}
.icon-microscope:before {
  content: "\e161";
}
.icon-pencil-1:before {
  content: "\e162";
}
.icon-burst:before {
  content: "\e163";
}
.icon-database-1:before {
  content: "\e164";
}
.icon-foot:before {
  content: "\e165";
}
.icon-infinity:before {
  content: "\e166";
}
.icon-progress-0:before {
  content: "\e167";
}
.icon-progress-1:before {
  content: "\e168";
}
.icon-progress-2:before {
  content: "\e169";
}
.icon-progress-3:before {
  content: "\e16a";
}
.icon-publish:before {
  content: "\e16b";
}
.icon-hand-o-right:before {
  content: "\e16c";
}
.icon-sign-in-1:before {
  content: "\e16d";
}
.icon-sign-out-1:before {
  content: "\e16e";
}
.icon-sort:before {
  content: "\e16f";
}
.icon-sort-asc:before {
  content: "\e170";
}
.icon-sort-desc:before {
  content: "\e171";
}
.icon-sort-numeric-asc:before {
  content: "\e172";
}
.icon-sort-numeric-desc:before {
  content: "\e173";
}
.icon-scissors:before {
  content: "\e174";
}
.icon-fax:before {
  content: "\e175";
}
.icon-smiley1:before {
  content: "\e176";
}
.icon-smiley2:before {
  content: "\e177";
}
.icon-smiley3:before {
  content: "\e178";
}
.icon-smiley4:before {
  content: "\e179";
}
.icon-smiley5:before {
  content: "\e17a";
}
.icon-smiley6:before {
  content: "\e17b";
}
.icon-smiley7:before {
  content: "\e17c";
}
.icon-smiley9:before {
  content: "\e17d";
}
.icon-smiley10:before {
  content: "\e17e";
}
.icon-smiley11:before {
  content: "\e17f";
}
.icon-smiley12:before {
  content: "\e180";
}
.icon-smiley13:before {
  content: "\e181";
}
.icon-poke:before {
  content: "\e185";
}
.icon-smiley8:before {
  content: "\e182";
}
.icon-randomdice:before {
  content: "\e184";
}
.icon-smiley14:before {
  content: "\e183";
}
.icon-zenrating:before {
  content: "\e186";
}
.icon-zcostmeter:before {
  content: "\e187";
}
.icon-zefficiency:before {
  content: "\e188";
}
.icon-progress:before {
  content: "\e189";
}
.icon-claimcosts:before {
  content: "\e0f6";
}
.icon-zenmetrics:before {
  content: "\e18a";
}
.icon-certificate-2:before {
  content: "\e18b";
}
.icon-logo:before {
  content: "\e18c";
}
.icon-companydetails:before {
  content: "\e0fc";
}
.icon-zenco:before {
  content: "\e18d";
}
.icon-zencontact:before {
  content: "\e18e";
}
.icon-zenisphere:before {
  content: "\e18f";
}
.icon-zeniversity:before {
  content: "\e190";
}
.icon-zenlogin:before {
  content: "\e191";
}
.icon-zenproducts:before {
  content: "\e192";
}
.icon-flybadge-o2:before {
  content: "\e13f";
}
.icon-flybadge-o3:before {
  content: "\e193";
}
.icon-flybadge:before {
  content: "\e194";
}
.icon-flybadge-o1:before {
  content: "\e195";
}
.icon-multiuser:before {
  content: "\e196";
}
.icon-userlisting:before {
  content: "\e197";
}
.icon-userpanel:before {
  content: "\e198";
}
.icon-adduser:before {
  content: "\e0cf";
}
.icon-chevron-down:before {
  content: "\e199";
}
.icon-chevron-left:before {
  content: "\e19a";
}
.icon-chevron-right:before {
  content: "\e19b";
}
.icon-chevron-up:before {
  content: "\e19c";
}
.icon-flame:before {
  content: "\e19d";
}
.icon-alert:before {
  content: "\e19e";
}
.icon-bell-1:before {
  content: "\e19f";
}
.icon-down-open-big:before {
  content: "\e1a0";
}
.icon-gauge:before {
  content: "\e1a1";
}
.icon-angle-down:before {
  content: "\e1a2";
}
.icon-angle-left:before {
  content: "\e1a3";
}
.icon-angle-right:before {
  content: "\e1a4";
}
.icon-angle-up:before {
  content: "\e1a5";
}
.icon-gavel:before {
  content: "\e1a6";
}
.icon-stethoscope-1:before {
  content: "\e1a7";
}
.icon-pulse:before {
  content: "\e1a8";
}
.icon-terminal:before {
  content: "\e1a9";
}
.icon-stop-1:before {
  content: "\e1aa";
}
