
:root{
    --link: #00cc00;
    --linkh: #00ff00;
    --moodc0: #29aeec;	
    --moodc1: #f50b07;
    --moodc2: #f56e07;
    --moodc3: #f5d907;
    --moodc4: #cdf507;
    --moodc5: #a9f507;
    --moodc6: #a1f507;
    --moodc7: #6af507;
    --moodc8: #76f507;
    --moodc9: #5ef507;
    --moodc10: #42f507;
    
    --moodc0t: rgba(40, 176, 238, 0.70);
    --moodc1t: rgba(245, 11, 7, 0.70);
    --moodc2t: rgba(245, 110, 7, 0.70);
    --moodc3t: rgba(245, 217, 7, 0.70);
    --moodc4t: rgba(205, 245, 7, 0.70);
    --moodc5t: rgba(169, 245, 7, 0.70);
    --moodc6t: rgba(161, 245, 7, 0.70);
    --moodc7t: rgba(106, 245, 7, 0.70);
    --moodc8t: rgba(118, 245, 7, 0.70);
    --moodc9t: rgba(94, 245, 7, 0.70);
    --moodc10t: rgba(66, 245, 7, 0.70);
    
    --stdpanel: #161616;
    --stdpanelh: #1d1d1d;
    }
    
    /* Update navbar to appear sooner */
    @media screen and (max-width: 780px) {	
      #navbar{display:none;}
      #navbarMobile{display:block;}
    }
    
    /* mobile/desktop toggle breakpoints */
    @media only screen and (min-width: 1200px) {
        .showDesktopOnly{display:block;}
        .showMobileOnly{display:none;}
    }
    @media only screen and (max-width: 580px) {
        .showDesktopOnly{display:none;}
        .showMobileOnly{display:block;}	
    }
    
    /* Zengarden Additions */
    .panelTopImage{width:100%;padding:.5rem 2rem;}
    .panelTopImage img{width:100%;max-width:120px;}
    .demo{width:100%;text-align:center;padding:60px;border:1px solid yellow;border-radius:12px;color:red;font-size:2rem;}
    a{color: var(--link);weight:900;text-decoration:none;border-bottom:1px dashed;border-bottom-color: var(--linkh);}
    a:hover{color: var(--linkh);border-bottom:1px solid;border-bottom-color: var(--linkh);}
    a.invisible{border:0;}
    a.invisible:hover{border:0;}
    .headerBlock.fixed-tr{background-position:right top;}
    .headerImage__panel-small{position:absolute;right:-20px;width:50%;height:120px;background-color:rgba(255, 255, 255, 0.12);border-top-left-radius:100px;border-bottom-left-radius:100px;
    animation: bounceInRight;animation-duration: 1s;	
    }
    
    .headerImage__panel-small.dark{background-color:rgba(0, 0, 0, 0.22);}
    .headerImage__panelimage-small{height:100%;max-height:110px;margin:5px 0 0 26px;}
    .pageImageHeader{width:100%;max-width:500px;animation: bounceInLeft;animation-duration: 1s;}
    .pageContent.bgimage-bgheader{background-position: center top;}
    .bghaze-peach{background-image:url('/images/backgrounds/bghaze-peach.png');}
    .bghaze-violet{background-image:url('/images/backgrounds/bghaze-violet.png');}
    .bghaze-ocean{background-image:url('/images/backgrounds/bghaze-ocean.png');}
    .bghaze-moss{background-image:url('/images/backgrounds/bghaze-moss.png');}
    .bghaze-sienna{background-image:url('/images/backgrounds/bghaze-sienna.png');}
    .bghaze-rose{background-image:url('/images/backgrounds/bghaze-rose.png');}
    .bghaze-plum{background-image:url('/images/backgrounds/bghaze-plum.png');}
    .defaultHomeUser{display:block;}
    .mobileHomeUser{display:none;position:relative;}
    
    @media (max-width: 992px) {
        .headerBlock{height:260px;padding: 146px 0 35px 0;}
        .headerImage__panel-small{height:100px;}
        .headerImage__panelimage-small{height:100%;max-height:80px;margin:5px 0 0 26px;}
        .pageImageHeader__title{font-size:2.1rem;line-height:2.4rem;}
        .pageImageHeader__subTitle{font-size:1.1rem;}	
    } 
    @media (max-width: 767px) {
        .defaultHomeUser{display:none;}
        .mobileHomeUser{display:block;}	
        .pageImageHeader{animation: bounceInLeft;animation-duration: 1s;}
        .pageImageHeader__title{text-align:left;}
        .pageImageHeader__subTitle{text-align:left;border-top:3px solid rgba(255, 255, 255, 0.22) !important;}
            
        .headerImage__panel-small{right:-18px;top:-24px;background-color:transparent;height:128px;width:128px;margin:0;padding:0;animation: bounceInRight;animation-duration: 1.2s;border-radius:0;z-index:99;}
        
        .headerImage__panelimage-small{margin:0;height:128px;max-height:128px;width:128px;}
            
    }
    @media (max-width: 576px) {	
        .headerBlock{height:160px;padding: 80px 0 35px 0;}
        .pageImageHeader__subTitle{font-size:1.3rem;padding-top:4px;}
    .bghaze-peach{
    background: -moz-linear-gradient(top,  #805a44 60px, #aa6e40 120px, #6a3634 180px, #2e2e2e 300px, #2e2e2e 100%);
    background: -webkit-linear-gradient(top,  #805a44 60px,#aa6e40 120px,#6a3634 180px,#2e2e2e 300px,#2e2e2e 100%);
    background: linear-gradient(to bottom,  #805a44 60px,#aa6e40 120px,#6a3634 180px,#2e2e2e 300px,#2e2e2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#805a44', endColorstr='#2e2e2e',GradientType=0 );	
        }
    .bghaze-violet{
    background: -moz-linear-gradient(top,  #573569 60px, #473099 120px, #30466e 180px, #2e2e2e 300px, #2e2e2e 100%);
    background: -webkit-linear-gradient(top,  #573569 60px,#473099 120px,#30466e 180px,#2e2e2e 300px,#2e2e2e 100%);
    background: linear-gradient(to bottom,  #573569 60px,#473099 120px,#30466e 180px,#2e2e2e 300px,#2e2e2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#573569', endColorstr='#2e2e2e',GradientType=0 );
        }	
    .bghaze-ocean{
    background: -moz-linear-gradient(top,  #1e5789 60px, #21809b 120px, #186a75 180px, #2e2e2e 300px, #2e2e2e 100%);
    background: -webkit-linear-gradient(top,  #1e5789 60px,#21809b 120px,#186a75 180px,#2e2e2e 300px,#2e2e2e 100%);
    background: linear-gradient(to bottom,  #1e5789 60px,#21809b 120px,#186a75 180px,#2e2e2e 300px,#2e2e2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5789', endColorstr='#2e2e2e',GradientType=0 );
        }
    .bghaze-moss{
    background: -moz-linear-gradient(top,  #417315 60px, #68881c 120px, #566313 180px, #2e2e2e 300px, #2e2e2e 100%);
    background: -webkit-linear-gradient(top,  #417315 60px,#68881c 120px,#566313 180px,#2e2e2e 300px,#2e2e2e 100%);
    background: linear-gradient(to bottom,  #417315 60px,#68881c 120px,#566313 180px,#2e2e2e 300px,#2e2e2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#417315', endColorstr='#2e2e2e',GradientType=0 );	
        }
    .bghaze-sienna{
    background: -moz-linear-gradient(top,  #722b21 60px, #81282e 120px, #5e1a27 180px, #2e2e2e 300px, #2e2e2e 100%);
    background: -webkit-linear-gradient(top,  #722b21 60px,#81282e 120px,#5e1a27 180px,#2e2e2e 300px,#2e2e2e 100%);
    background: linear-gradient(to bottom,  #722b21 60px,#81282e 120px,#5e1a27 180px,#2e2e2e 300px,#2e2e2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#722b21', endColorstr='#2e2e2e',GradientType=0 );	
        }
    .bghaze-rose{
    background: -moz-linear-gradient(top,  #803166 60px, #9b2b4d 120px, #6a243b 180px, #2e2e2e 300px, #2e2e2e 100%);
    background: -webkit-linear-gradient(top,  #803166 60px,#9b2b4d 120px,#6a243b 180px,#2e2e2e 300px,#2e2e2e 100%);
    background: linear-gradient(to bottom,  #803166 60px,#9b2b4d 120px,#6a243b 180px,#2e2e2e 300px,#2e2e2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#803166', endColorstr='#2e2e2e',GradientType=0 );	
        }
    .bghaze-plum{
    background: -moz-linear-gradient(top,  #763c84 60px, #6f408c 120px, #472d6b 180px, #2e2e2e 300px, #2e2e2e 100%);
    background: -webkit-linear-gradient(top,  #763c84 60px,#6f408c 120px,#472d6b 180px,#2e2e2e 300px,#2e2e2e 100%);
    background: linear-gradient(to bottom,  #763c84 60px,#6f408c 120px,#472d6b 180px,#2e2e2e 300px,#2e2e2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#763c84', endColorstr='#2e2e2e',GradientType=0 );	
        }
    .bghaze-steel{
    background: -moz-linear-gradient(top,  #1e4549 60px, #436c77 120px, #6d8fa0 180px, #2e2e2e 300px, #2e2e2e 100%);
    background: -webkit-linear-gradient(top,  #1e4549 60px,#436c77 120px,#6d8fa0 180px,#2e2e2e 300px,#2e2e2e 100%);
    background: linear-gradient(to bottom,  #1e4549 60px,#436c77 120px,#6d8fa0 180px,#2e2e2e 300px,#2e2e2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e4549', endColorstr='#2e2e2e',GradientType=0 );
        }
                    
    }
    
    .mobileNavIcon{width:32px;height:32px;position:relative;top:10px;left:-5px;}
    .itemGrid__nav {
        cursor: pointer;
        flex-basis: 160px;
        align-self: center top;
    }
    .itemGrid__nav a{
        display:block;
        position:relative;
        width: 116px;
        height: 116px;
        border-radius:50%;
        margin: 0 auto 20px auto;
        background-color: rgba(0, 0, 0, 0.58);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 90px 90px;
        transition: all 0.2s ease-in-out;
    }
    .itemGrid__nav a span.navImg{display:block;width:100%;text-align:center;position:absolute;top:7px;transition: all 0.2s ease-in-out;}
    .itemGrid__nav a span.navImg img{width:80px;transition: all 0.2s ease-in-out;}
    .itemGrid__nav a span.mainText{
        display:block;
        font-family: 'Lato', sans-serif;
        font-weight:900;
        font-size:1.2rem;
        color:white;
        text-shadow:0px 1px 0px black;
        width:100%;
        text-align:center;
        position:absolute;
        bottom:-2px;} 
    .itemGrid__nav a span.subText{
        display:block;
        font-family: 'Lato', sans-serif;
        font-weight:400;
        font-size:.8rem;
        color:rgba(255, 255, 255, 0.62);
        width:100%;
        text-align:center;
        position:absolute;
        bottom:17px;} 	
    .itemGrid__nav a:hover{
        background-color:blue;
        box-shadow:0px 5px 14px rgba(0, 0, 0, 0.87);
        animation: pulse; 
        animation-duration: .5s;	
    }
    .itemGrid__nav a:hover span.navImg{top:-8px;}
    .itemGrid__nav a:hover span.navImg img{width:90px;filter: drop-shadow(0px 6px 1px rgba(0, 0, 0, 0.27));}
    .itemGrid__nav a.navbbg-1:hover{background-color:#4a9a11;}
    .itemGrid__nav a.navbbg-2:hover{background-color:#4a9a11;}
    .itemGrid__nav a.navbbg-3:hover{background-color:#4a9a11;}
    .itemGrid__nav a.navbbg-4:hover{background-color:#4a9a11;}
    .itemGrid__nav a.navbbg-5:hover{background-color:#4a9a11;}
    .itemGrid__nav a.navbbg-6:hover{background-color:#4a9a11;}
    
    
    .settingsButtonArray{width:100%;padding:.1rem;text-align:center;}
    .settingsButtonArray .buttonSet{padding:1.3rem .2rem;border:1px solid #323232;border-radius:12px;margin-bottom:.8rem;}	
    .settingsButtonArray .buttonSet span{display:block;font-size:.9rem;font-weight:300;line-height:.8rem;margin-bottom:.8rem;}
    .settingsButtonArray.inline .buttonSet{display:inline-block;padding:1rem;margin:.6rem .2rem}
    .zg-actionPanel{position:relative;width:100%;max-width:800px;margin:0 auto;height:max-content;border-radius:12px;padding:30px;background-color: var(--stdpanel);border:2px solid transparent;transition: all 0.3s ease-in-out 0s;}
    .zg-actionPanel:hover{background-color: var(--stdpanelh);border:2px solid black;}
    .zg-actionPanel .panelTitle{-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;width:100%;text-align:center;font-weight:900;font-size:1.3rem;margin-top:-20px;}
    .zg-actionPanel .panelTitle .icon{-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;top:4px;padding-right:5px;color:#747474;}
    .zg-actionPanel .zd-message{display:table;width:100%;height:4rem;overflow:hidden;}
    .zg-actionPanel .zd-messagearea{display:table-cell;width:100%;height:4rem;vertical-align:middle;}
    .zg-actionPanel .zd-instructions{display:none;font-size:.8rem;margin-bottom:10px;line-height:1.1rem;}
    .zg-actionPanel .zd-thankyou{display:none;font-size:.8rem;margin-bottom:10px;}
    .zg-actionPanel .zd-thankyou span.thanks{display:block;color:green;font-size:1.1rem;font-weight:900;}
    hr.subtle{border:0;border-bottom:4px solid rgba(255, 255, 255, 0.19);border-top:1px solid black;}
    @media (max-width: 768px) {	
        .zg-actionPanel{padding:28px 8px 8px 8px;border-radius:0;border:none;}
        .zg-actionPanel:hover{border:none;}
    }
    @media (max-width: 580px) {	
        .zg-actionPanel{padding:28px 8px 8px 8px;border-radius:0;}
        .zg-actionPanel:hover{border:none;}
        .zg-actionPanel .panelTitle{font-size:1.7rem !important;}
        .zg-actionPanel .panelTitle.smaller{font-size:1.1rem !important;}
        .settingsButtonArray.inline .buttonSet{display:block;}
    }
    
    /* zBadge */
    .zBadge{z-index:99;width:60px;height:60px;position:absolute;}
    .zBadge.tr-index1{top:-20px;right:-20px;}
    .zBadge.tr-index2{top:-20px;right:30px;}
    .zBadge.tr-index3{top:-20px;right:80px;}
    .zBadge.tr-index4{top:-20px;right:130px;}
    .zBadge.tl-index1{top:-20px;left:-20px;}
    .zBadge.tl-index2{top:-20px;left:30px;}
    .zBadge.tl-index3{top:-20px;left:80px;}
    .zBadge.tl-index4{top:-20px;left:130px;}
    .zBadge.br-index1{bottom:-20px;right:-20px;}
    .zBadge.br-index2{bottom:-20px;right:30px;}
    .zBadge.br-index3{bottom:-20px;right:80px;}
    .zBadge.br-index4{bottom:-20px;right:130px;}
    .zBadge.bl-index1{bottom:-20px;left:-20px;}
    .zBadge.bl-index2{bottom:-20px;left:30px;}
    .zBadge.bl-index3{bottom:-20px;left:80px;}
    .zBadge.bl-index4{bottom:-20px;left:130px;}
    .zBadge.r-index2{top:30px;right:-20px;}
    .zBadge.r-index3{top:80px;right:-20px;}
    .zBadge.r-index4{top:130px;right:-20px;}
    .zBadge.l-index2{top:30px;left:-20px;}
    .zBadge.l-index3{top:80px;left:-20px;}
    .zBadge.l-index4{top:130px;left:-20px;}
    .zBadge a{width:60px;height:60px;display:table;border:0;animation-duration:1s;cursor:pointer;}
    .zBadge a span.icon{position:relative;display:table-cell;text-align:center;vertical-align:middle;}
    .zBadge a span.icon:before{font-family:'zenjuriesfont';content:'\e015';text-shadow:0px 1px 4px black;font-size:2.6em;}
    .zBadge a:hover{animation:jello;animation-duration:1s;}
    .zBadge a:hover span.icon:before{font-size:3.2em;text-shadow:0px 1px 16px black;}
    .zBadge a:active span.icon:before{font-size:3.0em;}
    .zBadge.checkmark a span.icon:before{content:'\e018';color:#49d10e;}
    .zBadge.checkmark a:hover span.icon:before{content:'\e018';color:#50fb07;}
    .zBadge.item a span.icon:before{content:'\e01a';color:#bd0000;}
    .zBadge.item a:hover span.icon:before{content:'\e01a';color:#f30b0b;}
    .zBadge.info a span.icon:before{content:'\e01a';color:#2a5eb2;}
    .zBadge.info a:hover span.icon:before{content:'\e01a';color:#3577e0;}
    .zBadge.alert a span.icon:before{content:'\e07d';color:#c8b100;}
    .zBadge.alert a:hover span.icon:before{content:'\e07d';color:#ecd100;}
    .zBadge.message a span.icon:before{content:'\e023';color:#db7c0e;}
    .zBadge.message a:hover span.icon:before{content:'\e023';color:#f7890b;}
    .zBadge.new a span.icon:before{content:'\e163';color:#e6169a;}
    .zBadge.new a:hover span.icon:before{content:'\e163';color:#fd0fa6;}
    .zBadge.note a span.icon:before{content:'\e07d';color:#c4b876;}
    .zBadge.note a:hover span.icon:before{content:'\e07d';color:#eddf8f;}
    .zBadge.cloud a span.icon:before{content:'\e01d';color:#8fabb8;}
    .zBadge.cloud a:hover span.icon:before{content:'\e01d';color:#a4cee1;}
    .zBadge.bookmark a span.icon:before{content:'\e00b';color:#0c832f;}
    .zBadge.bookmark a:hover span.icon:before{content:'\e00b';color:#34b25a;}
    .zBadge a span.badgeLabel{
    -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
    position:absolute;left:0px;top:35%;width:100%;color:white;text-align:center;font-size:1em;font-weight:900;font-family:'Bebas Neue';}
    .zBadge a span.badgeIcon{
    -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
    position:absolute;left:0px;top:35%;width:100%;color:white;text-align:center;font-size:1em;font-family:'zenjuriesfont';content: attr(data-zBadgeIcon);}
    .zBadge.bookmark a span.badgeLabel{top:30%;}
    .zBadge a:hover span.badgeLabel{text-shadow:0px 0px 8px black;}
    .zBadge .badgeInfo{z-index:98;position:absolute;left:-50%;width:260px;padding:20px;border-radius:10px;background-color:rgba(30, 30, 30, 0.91);box-shadow:0px 0px 19px black;font-size:1rem;font-weight:900;overflow:hidden;opacity:0;max-height:0px;transition:all ease-in-out .3s;color:#b1b1b1;}
    .zBadge .badgeInfo .iconHeader{position:absolute;top:12px;left:0px;width:100%;height;50px;text-align:center;}
    .zBadge .badgeInfo .iconHeader .iconContainer{width:50px;height:50px;margin:0 auto;}
    .zBadge .badgeInfo .iconHeader .iconContainer .bgCircle{display:table-cell;width:50px;height:50px;border-radius:50%;background-color: black;text-align:center;vertical-align:middle;}
    .zBadge a:hover ~ .badgeInfo{padding:20px;opacity:1;max-height:300px;}
    
    .zAlertArea{position:fixed;z-index:99999;top:9px;right:-10px;width:500px;}
    .zAlertDialogue{display:table;position:relative;width:100%;height:55px;background-color:#3e3e3e;box-shadow:0px 1px 11px rgba(0, 0, 0, 1);border-radius:8px;margin-bottom:4px;overflow:hidden;}
    .zAlertDialogue.open{animation:bounceInRight;animation-duration:1s;}
    .zAlertDialogue.close{animation:bounceOutRight;animation-duration:1s;}
    .zAlertDialogue.exit{animation:bounceOut;animation-duration:1s;}
    .zAlertDialogue .message{display:table-cell;text-align:left;vertical-align:middle;height:55px;font-weight:400;width:100%;padding:0 18px 0 70px;color:white;font-size:1rem;line-height:1.1rem;}
    .zAlertDialogue .zButton.save{position:absolute;left:3px;top:7px;}
    .zAlertDialogue .zAlertIcon{position:absolute;left:12px;top:7px;width:40px;height:40px;border-radius:50%;padding:0px !important;line-height:normal;background-color:grey;}
    .zAlertDialogue .zAlertIcon .icon:after{font-family: 'zenjuriesfont';font-size:28px;position:relative;top:3px;left:3px;}
    .zAlertDialogue .zAlertIcon.comment{background-color:#673f0c;}
    .zAlertDialogue .zAlertIcon.comment .icon:after{content:'\e025';color:#ffa50b;left:7px;top:5px;}
    .zAlertDialogue .zAlertIcon.confirm{background-color:#0b650d;}
    .zAlertDialogue .zAlertIcon.confirm .icon:after{content:'\e018';color:#24e81d;left:5px;top:5px;}
    .zAlertDialogue .zAlertIcon.deny{background-color:#670c0c;}
    .zAlertDialogue .zAlertIcon.deny .icon:after{content:'\e098';color:#e81c1c;left:6px;top:4px;}
    .zAlertDialogue .zAlertIcon.info{background-color:#3570ef;}
    .zAlertDialogue .zAlertIcon.info .icon:after{content:'\e049';font-size:36px;color:white;left:2px;top:1px;}
    .zAlertDialogue .zAlertIcon.warning{background-color:black;}
    .zAlertDialogue .zAlertIcon.warning .icon:after{content:'\e036';color:red;left:6px;}
    .zAlertDialogue .zAlertIcon.alert{background-color:yellow;}
    .zAlertDialogue .zAlertIcon.alert .icon:after{content:'\e035';font-size:40px;color:black;left:-1px;top:-3px;}
    .zAlertDialogue .dismiss{position:absolute;right:21px;top:14px;width:24px;height:24px;background-color:red;border-radius:50%;box-shadow:0px 0px 11px black;padding:3px 0 0 3px;cursor:pointer;}
    .zAlertDialogue .dismiss .icon{color:white;font-size:1.1rem;}
    .zAlertDialogue .dismiss:hover{animation:jello;animation-duration:1s;}
    @media (max-width: 568px) {	
        .zAlertArea{width:300px;}
        .zAlertDialogue .dismiss{padding:5px 0 0 5px;}
    }
    
    ul.iconSelector{list-style:none;text-align:center;padding:0;margin:0;}
    ul.iconSelector li{display:inline-block;width:50px;height:50px;}
    ul.iconSelector li a{display:block;height:50px;width:50px;background-position:center center;background-size:40px 40px;border-radius:50%;background-color:black;cursor:pointer;transition:all .2s ease-in-out;border:none;}
    ul.iconSelector li a:hover{background-size:60px 60px;padding:0px;background-color:#343434;box-shadow:0px 0px 3px 2px black;}
    ul.iconSelector li a:active, ul.iconSelector li a:focus{box-shadow:0px 0px 1px 1px red;}
    ul.iconSelector li a.selected{background-color:#000000;border:2px dashed #09e009;}
    
    /* ------------- zTable Control ------------- */
    .zTableContainer{width:100%;padding:1.3rem .2rem;border:1px solid #323232;border-radius:12px;margin:0 .2rem .8rem .2rem;}
    ul.zTable{display:table;width:100%;margin:0 auto;border-spacing:0;border-radius:.8rem;}
    ul.zTable.padded{margin:20px auto;}
    ul.zTable li{display:table-row;}
    ul.zTable li.listTitle{display:table-caption;font-size:1.1rem;font-weight:900;padding:8px;border-bottom:1px dashed #747474;margin-bottom:10px;text-align:center;}
    ul.zTable li span.zCell{display:table-cell;font-size:1rem;padding:6px;}
    ul.zTable li span.zCell.label{font-weight:900;display:table-cell;color:white;text-align:right;}
    ul.zTable li span.zCell.data{font-weight:400;display:table-cell;color:grey;}
    ul.zTable li span.zCell.spacer{padding:0;}
    ul.zTable li span.zCell.spacer:before{content:'----------';display:block;color:#747474;}
    ul.zTable li span.zCell.spacer:first-child:before {text-align:right}
    ul.zTable li span.zCell.spacer:last-child:before {text-align:left;}
    /* ------------- zModal Control ------------- */	
    .zModal{width:100%;height:100%;background-color:transparent;}
    /*. close the modal */
    a.close-zModal{transition: all 0.2s ease-in-out .1s; 
    display:table;position:absolute;top:20px;right:20px;color:white;height:40px;width:40px;border:2px solid white;text-align:center;font-size:2rem;border-radius:50%;cursor:pointer;}
    a.close-zModal .icon{transition: all 0.2s ease-in-out .1s;display:table-cell;vertical-align:middle;text-align:center;font-size:1rem;padding-top:2px;}
    a.close-zModal:hover{color:red;border-color:red;animation:jello;animation-duration:1s;}
    a.close-zModal:hover .icon{font-size:1.5rem;padding-top:4px;}
    a.close-zModal:active, a.close-zModal:focus{color:red;border-color:red;height:36px;width:36px;top:22px;right:22px;transition: all 0s;}
    a.close-zModal:active .icon, a.close-zModal:focus .icon{font-size:1.3rem;padding-top:3px;transition: all 0s;}
    /* modal content area */
    .zModal .modalContent{width:100%;max-width:1000px;height:100%;margin:0 auto;}
    .zModal .modalContent.paddedDark{border-radius:8px;background-color:rgba(0, 0, 0, 0.9);padding:.8rem .6rem;}
    .zModal .modalContent.fixedWidth{width:800px;}
    /* modal header */
    .zModal .modalHeader{width:100%;text-align:center;margin:10px 0 20px 0;}
    .zModal .modalHeader span.modalTitle{display:block;color:white;font-family:'Lato';font-weight:300;font-size:2rem;padding-bottom:20px;border-bottom:2px solid #747474;}
    .zModal .modalBody{width:100%;max-width:600px;margin:10px auto;}
    .zModal .modalFooter{width:100%;max-width:600px;margin:10px auto;text-align:center;}
    .zBox .jBox-wrapper{width:100%;padding-top:0px;}
    .zBox .jBox-container{background:transparent !important;box-shadow:none !important;}
    @media screen and (max-width: 580px) {
      .zModal .modalContent.fixedWidth{width:100%;}	
      .zModal .modalHeader span.modalTitle{font-size:1.6rem;}
      .zModal span.label{font-size:.7rem !important;}
    }
    /* ------------- Home Page ------------- */
    .homeButtons{width:100%;max-width:500px;margin:0 auto;}
    @media screen and (max-width: 580px) {
        .homeButtons{padding-top:50px;}
        }
    .headerFade{background: -moz-linear-gradient(top,  rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.64) 44%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.64) 44%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.64) 44%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#00000000',GradientType=0 );
    }
    .userAvatar{width:80px;height:80px;border-radius:50%;position:relative;left:20px;top:20px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    }
    .profileAvatarColor{display:table;width:150px;height:150px;margin:20px auto;border-radius:20px;text-align:center;padding:12px;background-color:#2a2a2a;}
    .profileAvatarColor .avatarIcon{height:100%;width:100%;border-radius:50%;background-position:center center;background-repeat:no-repeat;background-size:cover;}
    .userFirstname{position:absolute;top:38px;left:120px;color:white;font-family:'Lato';font-size:1rem;font-weight:900;line-height:.9rem;}
    .userLastname{position:absolute;top:54px;left:120px;color:white;font-family:'Lato';font-size:1rem;font-weight:900;line-height:.9rem;}
    .userStatus{position:absolute;top:70px;left:120px;color:yellow;font-family:'Lato';font-size:.8rem;font-weight:400;}
    .userStatusspan{font-weight:900;}
    @media (max-width: 576px) {
    .homeButtons{margin:-40px auto 0 auto;}
    .userAvatar{width:80px;height:80px;right:5px;top:27px;}
    .mUserFirstname{display:inline-block;color:white;font-family:'Lato';font-size:2rem;font-weight:300;}
    .mUserLastname{display:inline-block;color:white;font-family:'Lato';font-size:2rem;font-weight:900;}
    .mUserStatus{position:absolute;bottom:16px;left:16px;color:yellow;font-family:'Lato';font-size:1.1rem;font-weight:400;}
    }
    
    /* ------------- Diary Mood Controller ------------- */
    .zCodeDiaryTitle{display:none;text-align:center;}
    .moodSlider{width:100%;max-width:280px;margin:0 auto;}
    /*Chrome*/
    input[type=range] {
      -webkit-appearance: none;
      margin: 18px 0;
      width: 100%;
      background-color:transparent;
      border:none;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border-radius: 1.3px;
      border: 0.2px solid #010101;
    }
    input[type=range]::-webkit-slider-thumb {
      box-shadow: 1px 1px 10px #000000, 0px 0px 1px #0d0d0d;
      border: none;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      background: #565656;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -14px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #1cc10d;
    }
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border-radius: 1.3px;
      border: 0.2px solid #010101;
    }
    input[type=range]::-moz-range-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: none;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      background: #ffffff;
      cursor: pointer;
    }
    input[type=range]::-ms-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: #2a6495;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    input[type=range]::-ms-fill-upper {
      background: #3071a9;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    input[type=range]::-ms-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: none;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      background: #ffffff;
      cursor: pointer;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: #3071a9;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: #367ebd;
    }
    
    /*
    #claimMood .myMood.unsubmitted{display:none;}
    #claimMood .myMood.submitted{display:block;}
    #injuryMood .myMood.unsubmitted{display:block;}
    #injuryMood .myMood.submitted{display:none;}
    */
    
    /* slide track coloring */
    .myMood.mood-1 input[type=range]::-webkit-slider-runnable-track{background-color: var(--moodc1);}
    .myMood.mood-2 input[type=range]::-webkit-slider-runnable-track{background-color: var(--moodc2);}
    .myMood.mood-3 input[type=range]::-webkit-slider-runnable-track{background-color: var(--moodc3);}
    .myMood.mood-4 input[type=range]::-webkit-slider-runnable-track{background-color: var(--moodc4);}
    .myMood.mood-5 input[type=range]::-webkit-slider-runnable-track{background-color: var(--moodc5);}
    .myMood.mood-6 input[type=range]::-webkit-slider-runnable-track{background-color: var(--moodc6);}
    .myMood.mood-7 input[type=range]::-webkit-slider-runnable-track{background-color: var(--moodc7);}
    .myMood.mood-8 input[type=range]::-webkit-slider-runnable-track{background-color: var(--moodc8);}
    .myMood.mood-9 input[type=range]::-webkit-slider-runnable-track{background-color: var(--moodc9);}
    .myMood.mood-10 input[type=range]::-webkit-slider-runnable-track{background-color: var(--moodc10);}
    
    .myMood.mood-1 input[type=range]::-moz-range-track{background-color: var(--moodc1);}
    .myMood.mood-2 input[type=range]::-moz-range-track{background-color: var(--moodc2);}
    .myMood.mood-3 input[type=range]::-moz-range-track{background-color: var(--moodc3);}
    .myMood.mood-4 input[type=range]::-moz-range-track{background-color: var(--moodc4);}
    .myMood.mood-5 input[type=range]::-moz-range-track{background-color: var(--moodc5);}
    .myMood.mood-6 input[type=range]::-moz-range-track{background-color: var(--moodc6);}
    .myMood.mood-7 input[type=range]::-moz-range-track{background-color: var(--moodc7);}
    .myMood.mood-8 input[type=range]::-moz-range-track{background-color: var(--moodc8);}
    .myMood.mood-9 input[type=range]::-moz-range-track{background-color: var(--moodc9);}
    .myMood.mood-10 input[type=range]::-moz-range-track{background-color: var(--moodc10);}
    
    .myMood.mood-1 input[type=range]::-ms-fill-lower{background-color: var(--moodc1);}
    .myMood.mood-2 input[type=range]::-ms-fill-lower{background-color: var(--moodc2);}
    .myMood.mood-3 input[type=range]::-ms-fill-lower{background-color: var(--moodc3);}
    .myMood.mood-4 input[type=range]::-ms-fill-lower{background-color: var(--moodc4);}
    .myMood.mood-5 input[type=range]::-ms-fill-lower{background-color: var(--moodc5);}
    .myMood.mood-6 input[type=range]::-ms-fill-lower{background-color: var(--moodc6);}
    .myMood.mood-7 input[type=range]::-ms-fill-lower{background-color: var(--moodc7);}
    .myMood.mood-8 input[type=range]::-ms-fill-lower{background-color: var(--moodc8);}
    .myMood.mood-9 input[type=range]::-ms-fill-lower{background-color: var(--moodc9);}
    .myMood.mood-10 input[type=range]::-ms-fill-lower{background-color: var(--moodc10);}
    
    input[type=range]::-webkit-slider-thumb:after {content:'10';}
    
    button{-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;margin-bottom:10px;}
    .moodQuestion{padding:0 0 20px 0;text-align:center;font-size:1.1rem;}
    .moodQuestion span.instructions{display:block;text-align:center;font-size:.9rem;color:#efd700;padding-top:12px;}
    .moodSubmit, .moodNote, .noMoodNote, .moodRepeat{width:100%;text-align:center;}
    .moodNote span.question, .noMoodNote span.question, .moodRepeat span.question{display:block;padding-top:12px;font-weight:300;font-size:.9rem;}
    .noMoodNote span.question{color:orange;}
    .moodSubmit button, .moodNote button, .moodRepeat button{font-weight:900;font-size:1.1rem;box-shadow:0px 0px 6px rgba(0, 0, 0, 0.47);margin-top:12px;margin-bottom:12px;}
    .moodNote {display:block;}
    .moodNote button{background-color:#9f882b;}
    .moodRepeat button{background-color:#1296c5;}
    .moodNote button:hover,
    .moodRepeat button:hover,
    .moodSubmit button:hover{box-shadow:0px 0px 16px 3px black;}
    .moodNote button:hover{background-color:#e6bc14;}
    .moodRepeat button:hover{background-color:#11b6f3;}
    .moodNote button:active, .moodNote button:focus,
    .moodRepeat button:active, .moodRepeat button:focus,
    .moodSubmit button:active, .moodSubmit button:focus{box-shadow:none;}
    .submitNote button{background-color:#d5b91f !important;}
    .moodNote button{background-color:#d5b91f;}
    .viewNoteModalNote{width:100%;min-height:200px;background-color:#c4bd94;color:black;padding:20px;box-shadow:0px 1px 1px 7px black;}
    
    button#submitInjuryMood{background-color:#0dc426;}
    button#submitInjuryMoodNote{background-color:#bfb910;}
    button#submitClaimMood{background-color:#0e89c2;}
    button#submitClaimMoodNote{background-color:#c68112;}
    
    .myMood.test{}
    .moodVisual .currentMood{position:relative;display:table;width:90px;height:90px;border-radius:50%;margin:0 auto;}
    .moodVisual.smaller .currentMood{width:48px;height:48px;}
    button.mood-0:hover{background-color: var(--moodc0t) !important;}
    button.mood-1:hover{background-color: var(--moodc1t) !important;}
    button.mood-2:hover{background-color: var(--moodc2t) !important;}
    button.mood-3:hover{background-color: var(--moodc3t) !important;}
    button.mood-4:hover{background-color: var(--moodc4t) !important;}
    button.mood-5:hover{background-color: var(--moodc5t) !important;}
    button.mood-6:hover{background-color: var(--moodc6t) !important;}
    button.mood-7:hover{background-color: var(--moodc7t) !important;}
    button.mood-8:hover{background-color: var(--moodc8t) !important;}
    button.mood-9:hover{background-color: var(--moodc9t) !important;}
    button.mood-10:hover{background-color: var(--moodc10t) !important;}
    .myMood.mood-0 .moodVisual .currentMood,
    .myMood.mood-0 .moodSubmit button{background-color: var(--moodc0t);}
    .myMood.mood-1 .moodVisual .currentMood,
    .myMood.mood-1 .moodSubmit button{background-color: var(--moodc1t);}
    .myMood.mood-2 .moodVisual .currentMood,
    .myMood.mood-2 .moodSubmit button{background-color: var(--moodc2t);}
    .myMood.mood-3 .moodVisual .currentMood,
    .myMood.mood-3 .moodSubmit button{background-color: var(--moodc3t);}
    .myMood.mood-4 .moodVisual .currentMood,
    .myMood.mood-4 .moodSubmit button{background-color: var(--moodc4t);}
    .myMood.mood-5 .moodVisual .currentMood,
    .myMood.mood-5 .moodSubmit button{background-color: var(--moodc5t);}
    .myMood.mood-6 .moodVisual .currentMood,
    .myMood.mood-6 .moodSubmit button{background-color: var(--moodc6t);}
    .myMood.mood-7 .moodVisual .currentMood,
    .myMood.mood-7 .moodSubmit button{background-color: var(--moodc7t);}
    .myMood.mood-8 .moodVisual .currentMood,
    .myMood.mood-8 .moodSubmit button{background-color: var(--moodc8t);}
    .myMood.mood-9 .moodVisual .currentMood,
    .myMood.mood-9 .moodSubmit button{background-color: var(--moodc9t);}
    .myMood.mood-10 .moodVisual .currentMood,
    .myMood.mood-10 .moodSubmit button{background-color: var(--moodc10t);}
    
    .myMood .moodVisual .currentMood:after{font-family:'zenjuriesfont';color:white;font-size:5rem;display:table-cell;width:100%;text-align:center;vertical-align:middle;}
    .myMood .moodVisual .currentMood:before{font-family:'Bebas Neue', cursive;position:absolute;top:0px;display:inline-block;color:black;font-size:1.4rem;width:100%;text-align:center;}
    .myMood .moodVisual.smaller.clickable:hover{width:max-content;margin:0 auto;border-radius:20px;background-color:rgba(0, 0, 0, 0.56);cursor:pointer;padding:0 10px;}
    .myMood .moodVisual.smaller .currentMood:after{padding-top:2px;font-size:2.5rem;}
    .myMood .moodVisual.smaller .currentMood:before{top:0px;font-size:.9rem;}
    .myMood.mood-0 .moodVisual .currentMood:before{content:'';}
    .myMood.mood-1 .moodVisual .currentMood:before{content:'1';}
    .myMood.mood-2 .moodVisual .currentMood:before{content:'2';}
    .myMood.mood-3 .moodVisual .currentMood:before{content:'3';}
    .myMood.mood-4 .moodVisual .currentMood:before{content:'4';}
    .myMood.mood-5 .moodVisual .currentMood:before{content:'5';}
    .myMood.mood-6 .moodVisual .currentMood:before{content:'6';}
    .myMood.mood-7 .moodVisual .currentMood:before{content:'7';}
    .myMood.mood-8 .moodVisual .currentMood:before{content:'8';}
    .myMood.mood-9 .moodVisual .currentMood:before{content:'9';}
    .myMood.mood-10 .moodVisual .currentMood:before{content:'10';}
    .myMood.mood-0 .moodVisual .currentMood:after{content:'\e067';}
    .myMood.mood-1 .moodVisual .currentMood:after{content:'\e181';}
    .myMood.mood-2 .moodVisual .currentMood:after{content:'\e180';}
    .myMood.mood-3 .moodVisual .currentMood:after{content:'\e17d';}
    .myMood.mood-4 .moodVisual .currentMood:after{content:'\e17c';}
    .myMood.mood-5 .moodVisual .currentMood:after{content:'\e17a';}
    .myMood.mood-6 .moodVisual .currentMood:after{content:'\e179';}
    .myMood.mood-7 .moodVisual .currentMood:after{content:'\e178';}
    .myMood.mood-8 .moodVisual .currentMood:after{content:'\e177';}
    .myMood.mood-9 .moodVisual .currentMood:after{content:'\e176';}
    .myMood.mood-10 .moodVisual .currentMood:after{content:'\e176';}
    .moodVisual .moodLabel{text-align:center;width:100%;padding:12px;font-size:1rem;}
    .moodVisual .moodLabel.fixedHeight{height:60px;}
    .myMood .moodVisual .moodLabel:after{font-weight:900;padding-left:6px;font-size:1.2rem;}
    .myMood.mood-0 .moodVisual .moodLabel:after{content:'select mood';color: var(--moodc0);}
    .myMood.mood-1 .moodVisual .moodLabel:after{content:'Very Bad';color: var(--moodc1);}
    .myMood.mood-2 .moodVisual .moodLabel:after{content:'Somewhat Bad';color: var(--moodc2);}
    .myMood.mood-3 .moodVisual .moodLabel:after{content:'Not Well';color: var(--moodc3);}
    .myMood.mood-4 .moodVisual .moodLabel:after{content:'Alright';color: var(--moodc4);}
    .myMood.mood-5 .moodVisual .moodLabel:after{content:'Fine';color: var(--moodc5);}
    .myMood.mood-6 .moodVisual .moodLabel:after{content:'Doing Better';color: var(--moodc6);}
    .myMood.mood-7 .moodVisual .moodLabel:after{content:'Fairly Good';color: var(--moodc7);}
    .myMood.mood-8 .moodVisual .moodLabel:after{content:'Very Good';color: var(--moodc8);}
    .myMood.mood-9 .moodVisual .moodLabel:after{content:'Feeling Great';color: var(--moodc9);}
    .myMood.mood-10 .moodVisual .moodLabel:after{content:'Awesome';color: var(--moodc10);}
    
    .gridControls{width:100%;display:table;margin:20px 0;}
    .gridControls .row{display:table-row;}
    .gridControls .cell{display:table-cell;vertical-align:middle;text-align:center;}
    .gridControls .cell.padded{padding:40px;}
    .gridControls .cell.w50{width:50%;}
    @media screen and (max-width: 580px) {
      .gridControls .cell.padded{padding:10px;} 
    }
    
    .noteBody{position:relative;width:100%;min-width:600px;}
    textarea.notePad{
    background: rgb(188,188,133);
    background: -moz-linear-gradient(-45deg,  rgba(188,188,133,1) 0%, rgba(234,234,145,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(188,188,133,1) 0%,rgba(234,234,145,1) 100%);
    background: linear-gradient(135deg,  rgba(188,188,133,1) 0%,rgba(234,234,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbc85', endColorstr='#eaea91',GradientType=1 );
    width:100%;height:300px;border-radius:2px;border-top:1px solid #ffffd9;border-bottom:1px solid #7e6b0b;
    box-shadow:0px 0px 20px black;
    font-size:1.3rem;
    padding:60px 40px 40px 40px;
    }
    textarea.greyPad{
    background: #c4c4c4;
    background: -moz-linear-gradient(-45deg,  #c4c4c4 0%, #e5e5e5 100%);
    background: -webkit-linear-gradient(-45deg,  #c4c4c4 0%,#e5e5e5 100%);
    background: linear-gradient(135deg,  #c4c4c4 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#e5e5e5',GradientType=1 );
    width:100%;height:300px;border-radius:2px;border-top:1px solid #ffffd9;border-bottom:1px solid #7e6b0b;
    box-shadow:0px 0px 20px black;
    font-size:1.3rem;
    padding:60px 40px 40px 40px;
    }
    
    .noteitem{position:absolute;font-weight:400;font-size:1rem;font-style:italic;color:grey;}
    .noteitem.nDate{top:10px;right:10px;}
    .noteitem.nSent{top:28px;right:10px;color:#1a9d1a;}
    .noteitem.nTo{top:10px;left:10px;}
    .noteitem.nClip{top:10px;right:50px;}
        
    @media screen and (max-width: 767px) {
      .noteBody{min-width:400px;}
    }
    @media screen and (max-width: 580px) {
      .noteBody{min-width:280px;}  
      
    }
    
    .zAppointments{width:100%;padding-top:20px;}
    .zAppointments .appointmentListControls{width:100%;text-align:center;padding:12px 0;}
    .zAppointments .myAppointments.noList{display:none;}	
    .zAppointments .myAppointments.hasList{display:block;}
    .zAppointments .pastAppointments.noList{display:none;}	
    .zAppointments .pastAppointments.hasList{display:block;}	
    .zAppointments .myAppointments span.default, .zAppointments .pastAppointments span.default{display:block;padding:40px 0;width:100%;text-align:center;font-style:italic;color:grey;}
    .appointmentTitle{font-weight:400;font-size:1.1rem;color:grey;}
    .appointmentTitle span{font-weight:900;color:white;}
    .apptCard{position:relative;background-color:#222222;border-radius:3px;margin-bottom:20px;font-weight:400;}
    .apptCard:hover{background-color:#343434;box-shadow:0px 0px 14px black;}
    .myAppointments .apptCard{}
    .apptHeader{height:30px;width:100%;border-top-left-radius:3px;border-top-right-radius:3px;padding:3px;}
    .myAppointments .apptCard .apptHeader{background-color:#b71e4c;}
    .myAppointments .apptCard:hover .apptHeader{background-color:#de2a60;}
    .pastAppointments .apptCard .apptHeader{background-color:#2e4587;}
    .pastAppointments .apptCard:hover .apptHeader{background-color:#3c5bb0;}
    .apptBody{padding:18px 18px 70px 18px;} 
    .apptIcon{float:left;font-size:1.2rem;padding-left:3px;}
    .apptTime{float:right;font-weight:900;font-size:.9rem;padding-right:3px;}
    .apptDoctor{color:white;}
    .apptPhone{color:grey;}	
    .apptEmail a{color:#b6b6b6;}
    .apptEmail a:hover{color:white;}
    .apptControls{position:absolute;right:6px;bottom:6px;width:max-content;}
    .apptEdit{position:absolute;left:6px;bottom:6px;width:max-content;}
    .apptControls button, .apptEdit button{font-size:.8rem;padding:2px 8px 4px 6px;display:block;margin-bottom:8px;}
    .apptControls button icon, .apptEdit button icon{font-size:.8rem;}
    .apptControls button:hover, .apptEdit button:hover{box-shadow:0px 0px 5px black;}
    .datePickerPlaceholder{width:460px;height:260px;}
    @media screen and (max-width: 767px) {
      .datePickerPlaceholder{width:400px;height:320px;}
    }
    @media screen and (max-width: 580px) {
      .datePickerPlaceholder{width:280px;height:340px;} 
    }
    
    .seeTouch span{
      color:white !important;
    }
    .seeTouch:hover span.home, .seeTouch:active span.home, .seeTouch:focus span.home, .seeTouch.touched span.home{
      color:#b2d31e !important;
    }
    .seeTouch:hover span.diary, .seeTouch:active span.diary, .seeTouch:focus span.diary, .seeTouch.touched span.diary{
      color:#11b111 !important;
    }
    .seeTouch:hover span.scheduling, .seeTouch:active span.scheduling, .seeTouch:focus span.scheduling, .seeTouch.touched span.scheduling{
      color:red !important;
    }
    .seeTouch:hover span.info, .seeTouch:active span.info, .seeTouch:focus span.info, .seeTouch.touched span.info{
      color:#17ade8 !important;
    }
    .seeTouch:hover span.team, .seeTouch:active span.team, .seeTouch:focus span.team, .seeTouch.touched span.team{
      color:#9e18c3 !important;
    }
    .seeTouch:hover span.faq, .seeTouch:active span.faq, .seeTouch:focus span.faq, .seeTouch.touched span.faq{
      color:orange !important;
    }
    
    /* ------------- Themes ------------- */
    .settingsButtonArray.themeBG .buttonSet{background-size:cover;}
    .buttonSet.themeBG{background-size:cover;background-position:center bottom;}
    .themeImage{height:100vh;}
    .themeLabelbg{display:block;padding:12px;font-size:1.2rem !important;text-shadow:0px 1px 1px black;color:white;}
    /* ------ Bamboo ------ */
    .themeBamboo .themeImage, .themeBamboo .themeBG{background-image:url('/images/themes/bamboo.jpg');background-position: left bottom;}
    .themeBamboo .themeColor-bgg, .themeBamboo .homeButtons .itemGrid__nav a, .themeColor-bbg-Bamboo{background-color:rgba(37, 74, 37, 0.72);}
    .themeBamboo .themeColor-fg, .themeColor-fg-Bamboo{color:#67d522;}
    .themeBamboo .themeColor-bg, .themeColor-bg-Bamboo{background-color:#4fa916;color:white;}
    
    /* ------ Ocean ------ */
    .themeOcean .themeImage, .themeOcean .themeBG{background-image:url('/images/themes/ocean.jpg');background-position: left bottom;}
    .themeOcean .themeColor-bgg, .themeOcean .homeButtons .itemGrid__nav a, .themeColor-bbg-Ocean{background-color:rgba(20, 34, 98, 0.54);}
    .themeOcean .themeColor-fg, .themeColor-fg-Ocean{color:#1d61e0;}
    .themeOcean .themeColor-bg, .themeColor-bg-Ocean{background-color:#1d61e0;color:white;}
    
    /* ------ Redleaf ------ */
    .themeRedleaf .themeImage, .themeRedleaf .themeBG{background-image:url('/images/themes/redleaf.jpg');background-position: right bottom;}
    .themeRedleaf .themeColor-bgg, .themeRedleaf .homeButtons .itemGrid__nav a, .themeColor-bbg-Redleaf{background-color:rgba(125, 43, 43, 0.52);}
    .themeRedleaf .themeColor-fg, .themeColor-fg-Redleaf{color:#c21954;}
    .themeRedleaf .themeColor-bg, .themeColor-bg-Redleaf{background-color:#c21954;color:white;}
    
    /* ------ Sand ------ */
    .themeSand .themeImage, .themeSand .themeBG{background-image:url('/images/themes/sand.jpg');background-position: left bottom;}
    .themeSand .themeSand-bgg, .themeSand .homeButtons .itemGrid__nav a, .themeColor-bbg-Sand{background-color:rgba(93, 88, 53, 0.63);}
    .themeSand .themeColor-fg, .themeColor-fg-Sand{color:#ddd3ac;}
    .themeSand .themeColor-bg, .themeColor-bg-Sand{background-color:#98906d;color:white;}
    
    /* ------ Zenstone ------ */
    .themeZenstone .themeImage, .themeZenstone .themeBG{background-image:url('/images/themes/zenstone.jpg');background-position: right bottom;}
    .themeZenstone .themeZenstone-bgg, .themeZenstone .homeButtons .itemGrid__nav a, .themeColor-bbg-Zenstone{background-color:rgba(5, 7, 8, 0.68);}
    .themeZenstone .themeColor-fg, .themeColor-fg-Zenstone{color:#495c67;}
    .themeZenstone .themeColor-bg, .themeColor-bg-Zenstone{background-color:#2f4048;color:white;}
    
    /* ------ Lotus ------ */
    .themeLotus .themeImage, .themeLotus .themeBG{background-image:url('/images/themes/lotus.jpg');background-position: right bottom;}
    .themeLotus .themeLotus-bgg, .themeLotus .homeButtons .itemGrid__nav a, .themeColor-bbg-Lotus{background-color:rgba(0, 0, 0, 0.29);}
    .themeLotus .themeColor-fg, .themeColor-fg-Lotus{color:#c140bd;}
    .themeLotus .themeColor-bg, .themeColor-bg-Lotus{background-color:#c140bd;color:white;}
    
    /* ------ Autumn ------ */
    .themeAutumn .themeImage, .themeAutumn .themeBG{background-image:url('/images/themes/autumn.jpg');background-position: center bottom;}
    .themeAutumn .themeAutumn-bgg, .themeAutumn .homeButtons .itemGrid__nav a, .themeColor-bbg-Autumn{background-color:rgba(151, 49, 18, 0.84);}
    .themeAutumn .themeColor-fg, .themeColor-fg-Autumn{color:#dc6f26;}
    .themeAutumn .themeColor-bg, .themeColor-bg-Autumn{background-color:#c16325;color:white;}
    
    /* ------ Sky ------ */
    .themeSky .themeImage, .themeSky .themeBG{background-image:url('/images/themes/sky.jpg');background-position: center bottom;}
    .themeSky .themeSky-bgg, .themeSky .homeButtons .itemGrid__nav a, .themeColor-bbg-Sky{background-color:rgba(18, 33, 121, 0.64);}
    .themeSky .themeColor-fg, .themeColor-fg-Sky{color:#2559dc;}
    .themeSky .themeColor-bg, .themeColor-bg-Sky{background-color:#2564c2;color:white;}
    
    /* ------ Serenity ------ */
    .themeSerenity .themeImage, .themeSerenity .themeBG{background-image:url('/images/themes/island.jpg');background-position: left bottom;}
    .themeSerenity .themeSerenity-bgg, .themeSerenity .homeButtons .itemGrid__nav a, .themeColor-bbg-Serenity{background-color:rgba(153, 44, 186, 0.48);}
    .themeSerenity .themeColor-fg, .themeColor-fg-Serenity{color:#9625dc;}
    .themeSerenity .themeColor-bg, .themeColor-bg-Serenity{background-color:#9625dc;color:white;}
    
    /* ------ Purplehaze ------ */
    .themePurplehaze .themeImage, .themePurplehaze .themeBG{background-image:url('/images/themes/purplehaze.jpg');background-position: center bottom;}
    .themePurplehaze .themePurplehaze-bgg, .themePurplehaze .homeButtons .itemGrid__nav a, .themeColor-bbg-Purplehaze{background-color:rgba(98, 50, 113, 0.68);}
    .themePurplehaze .themeColor-fg, .themeColor-fg-Purplehaze{color:#6c3277;}
    .themePurplehaze .themeColor-bg, .themeColor-bg-Purplehaze{background-color:#7e2a8e;color:white;}
    
    /* ------ Beach ------ */
    .themeBeach .themeImage, .themeBeach .themeBG{background-image:url('/images/themes/beach.jpg');background-position: center bottom;}
    .themeBeach .themeBeach-bgg, .themeBeach .homeButtons .itemGrid__nav a, .themeColor-bbg-Beach{background-color:rgba(32, 151, 184, 0.64);}
    .themeBeach .themeColor-fg, .themeColor-fg-Beach{color:#2559dc;}
    .themeBeach .themeColor-bg, .themeColor-bg-Beach{background-color:#2564c2;color:white;}
    
    /* ------------- Remove mobile highlights ------------- */
    .mobile_highlights{
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .no_highlights{
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    button, .homeButtons{
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;	
    }
    button:hover{animation:pulse;animation-duration:.2s;}