html {
/* ------ default ------ */
--theme1-name: 'default';
--theme1-dashboard: url('/branding/client/themes/theme1/dashboard.jpg');
--theme1-color1: #4c5d68;
--theme1-color2: #d4c890;
--theme1-color3: #5f635e;
--theme1-color4: #24242370;

/* ------ dark ------ */
--theme2-name: 'dark';
--theme2-dashboard: url('/branding/client/themes/theme2/dashboard.jpg');
--theme2-color1: #222222;
--theme2-color2: #1d1d1d;
--theme2-color3: #707270;
--theme2-color4: #919190;

/* ------ cool ------ */
--theme3-name: 'cool';
--theme3-dashboard: url('/branding/client/themes/theme3/dashboard.jpg');
--theme3-color1: #2a1672;
--theme3-color2: #4733ff;
--theme3-color3: #11b6cc;
--theme3-color4: #70b2d1;

/* ------ light ------ */
--theme4-name: 'light';
--theme4-dashboard: url('/branding/client/themes/theme4/dashboard.jpg');
--theme4-color1: #8a8883;
--theme4-color2: #b9b68d;
--theme4-color3: #555854;
--theme4-color4: #333330;

/* ------ warm ------ */
--theme5-name: 'warm';
--theme5-dashboard: url('/branding/client/themes/theme5/dashboard.jpg');
--theme5-color1: #ac743f;
--theme5-color2: #a05736;
--theme5-color3: #eba462;
--theme5-color4: #6e513d;
}

.themeSelector ul{list-style:none;padding:0;margin:0;}
.themeSelector li{margin:14px 0;border-radius:12px;border:2px solid transparent;cursor:pointer;overflow:hidden;position:relative;}
.themeSelector li.selected:after{font-family:'zenjuriesfont';font-size:1.7rem;content: '\e018';color:green;position: absolute;right:4px;top:4px;text-shadow: 2px 2px 5px #000;}
.themeSelector li .themeSelectorBg{text-align:left;background-repeat:no-repeat;background-size:cover;width:100%;height:100px;}
.themeSelector li:hover{border-color:white;}
.themeSelector li .themeSelectorBg span.themeName{display:block;width:100%;text-align:center;background-color:#00000050;padding:12px;} 
.themeSelector li .themeSelectorBg span.themeName:after,.themeName:after{color:white;font-weight:300;font-size:1.1rem;text-shadow: 2px 2px 5px #000;} 
.themeSelector li .themeSelectorBg span.themeColor,.themeColorBox{display:inline-block;width:30px;height:30px;margin:5px;border-radius:4px;-webkit-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.86);
    box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.86);}

.themeSelector li .themeSelectorBg.theme1{background-image: var(--theme1-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme1 span.themeColor.color1,
.theme1.color1{background-color:var(--theme1-color1);} 
.themeSelector li .themeSelectorBg.theme1 span.themeColor.color2,
.theme1.color2{background-color:var(--theme1-color2);} 
.themeSelector li .themeSelectorBg.theme1 span.themeColor.color3,
.theme1.color3{background-color:var(--theme1-color3);}
.themeSelector li .themeSelectorBg.theme1 span.themeColor.color4,
.theme1.color4{background-color:var(--theme1-color4);} 
.themeSelector li .themeSelectorBg.theme1 span.themeName:after,
.theme1.themeName:after{content:var(--theme1-name);}

.themeSelector li .themeSelectorBg.theme2{background-image: var(--theme2-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme2 span.themeColor.color1,
.theme2.color1{background-color:var(--theme2-color1);} 
.themeSelector li .themeSelectorBg.theme2 span.themeColor.color2,
.theme2.color2{background-color:var(--theme2-color2);} 
.themeSelector li .themeSelectorBg.theme2 span.themeColor.color3,
.theme2.color3{background-color:var(--theme2-color3);}
.themeSelector li .themeSelectorBg.theme2 span.themeColor.color4,
.theme2.color4{background-color:var(--theme2-color4);}
.themeSelector li .themeSelectorBg.theme2 span.themeName:after,
.theme2.themeName:after{content:var(--theme2-name);}

.themeSelector li .themeSelectorBg.theme3{background-image: var(--theme3-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme3 span.themeColor.color1,
.theme3.color1{background-color:var(--theme3-color1);} 
.themeSelector li .themeSelectorBg.theme3 span.themeColor.color2,
.theme3.color2{background-color:var(--theme3-color2);} 
.themeSelector li .themeSelectorBg.theme3 span.themeColor.color3,
.theme3.color3{background-color:var(--theme3-color3);}
.themeSelector li .themeSelectorBg.theme3 span.themeColor.color4,
.theme3.color4{background-color:var(--theme3-color4);}
.themeSelector li .themeSelectorBg.theme3 span.themeName:after,
.theme3.themeName:after{content:var(--theme3-name);}

.themeSelector li .themeSelectorBg.theme4{background-image: var(--theme4-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme4 span.themeColor.color1,
.theme4.color1{background-color:var(--theme4-color1);} 
.themeSelector li .themeSelectorBg.theme4 span.themeColor.color2,
.theme4.color2{background-color:var(--theme4-color2);} 
.themeSelector li .themeSelectorBg.theme4 span.themeColor.color3,
.theme4.color3{background-color:var(--theme4-color3);}
.themeSelector li .themeSelectorBg.theme4 span.themeColor.color4,
.theme4.color4{background-color:var(--theme4-color4);}
.themeSelector li .themeSelectorBg.theme4 span.themeName:after,
.theme4.themeName:after{content:var(--theme4-name);}

.themeSelector li .themeSelectorBg.theme5{background-image: var(--theme5-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme5 span.themeColor.color1,
.theme5.color1{background-color:var(--theme5-color1);} 
.themeSelector li .themeSelectorBg.theme5 span.themeColor.color2,
.theme5.color2{background-color:var(--theme5-color2);} 
.themeSelector li .themeSelectorBg.theme5 span.themeColor.color3,
.theme5.color3{background-color:var(--theme5-color3);}
.themeSelector li .themeSelectorBg.theme5 span.themeColor.color4,
.theme5.color4{background-color:var(--theme5-color4);}
.themeSelector li .themeSelectorBg.theme5 span.themeName:after,
.theme5.themeName:after{content:var(--theme5-name);}