/* Certificate */
.certificate{position:relative;width:100%;height:800px;background-image:url('/images/zencertbg.jpg');background-position:top center;background-size:contain;background-repeat:no-repeat;padding:20px;margin:10 auto 0 auto;}
.certificate div.title{padding-top:150px;text-align:center;font-size:80px;width:100%;}
.certBody {text-align: center;width:100%;}

#certDate {
    position: absolute;
    right: 700px;
    bottom: 305px;
    text-align: center;
}

#certEnrollmentDept{
    position: absolute;
    right: 355px;
    bottom: 305px;
    text-align: center;
}

#dateString {
    text-decoration: underline;
}

#certSig{
    background-image:url("/images/zensig.png");width:150px;
}