table{
    width: 100% !important;
}

td{
    text-align: center;
    font-size: 16pt;
    font-weight: 100;
}

/* FirstReport Page */
.docContainer{border:1px solid #d6d6d6;border-radius:8px;margin-top:20px;}
.labelSection{padding:8px;display:block;font-size:28px;color:#8e8e8e;border-bottom:2px solid #f2f2f2;margin:10px 0 20px 0;}
.sectionInfo{margin:0 0 0 12px;font-size:20px;}
.docTitle{display:block;width:100%;text-align:center;padding:20px;margin-top:15px;font-size:38px;color:white;background-color:#b7b7b7;border-radius:8px;}
.docSubTitle{display:block;width:100%;text-align:center;margin-top:2px;font-size:14px;color:#5f5f5f;}