
/* ZenBoard Badges */
.zenboardBadges span.listTitle{font-family: 'latolight', sans-serif;color:#7e7e7e;font-size:20px;text-align:center;display:block;width:100%;border-bottom:1px solid #a5a5a5;}
.zenboardBadges ul{list-style:none;padding:0;margin:0;}
.zenboardBadges li{border-bottom:1px dashed #f2f2f2;padding-top:12px;}
.zenboardBadges li table{width:100%;}
.zenboardBadges li table:hover{background-color:#e7e7e7;cursor:pointer;}
.zenboardBadges li table td:first-child{width:50px;padding-left:5px;}
.zenboardBadges li table td:last-child{text-align:left;padding-left:12px;padding-top:10px;width:100%;}
.zenboardBadges li a:hover{border:1px solid red;}
.zenboardBadges li span.title{font-family: 'latosemibold', sans-serif;color:#474747;font-size:14px;}
.zenboardBadges li span.description{font-family: 'latolight', sans-serif;color:#7e7e7e;font-size:12px;}
.zenboardBadges li span.percent{font-family: 'latolight', sans-serif;color:#a2a2a2;font-size:11px;line-height:14px;}
/* Achievment Details Modal */
#achievementDetails .roundIcon{margin:0 auto !important;width:180px;height:180px;background-color:#c4c4c4;border-radius:50%;}
#achievementDetails .roundIcon span.colorIcon{position:relative;top:27px;margin:0 auto !important;}
#achievementDetails span.achBadge{margin:0 auto !important;}
#achievementDetails span.title{font-family: 'latosemibold', sans-serif;font-size:12px;color:black;}
#achievementDetails table{width:100%;background-color:#f5f5f5;}
#achievementDetails table th{text-align:left;padding:4px;font-family: 'latosemibold', sans-serif;font-size:12px;background-color:#d8d8d8;}
#achievementDetails table td{padding:4px;text-align:left;font-family: 'latolight', sans-serif;font-size:14px;width:30%}
#achievementDetails table tr:hover{background-color:#b0b0b0;}
#achievementDetails table td.injuryListAvatar{text-align:center;width:10%;}
#achievementDetails table td.injuryListAvatar a img{width:32px;height:32px;}


/*##################### SPECIFIC PAGE CLASSES #####################*/
/*-----------------------------------------------------------------*/
/* ZENBOARD PAGE */
.userZenScores{position:absolute;right:10px;top:19px;}
.userZenScores .respScore, .userZenScores .partRate{position:relative;padding:6px;border-radius:4px;margin-right:4px;float:left;cursor:pointer;}
.userZenScores .respScore:hover, .userZenScores .partRate:hover{background-color:#888888;}
.userZenScores .respScore span.title, .userZenScores .partRate span.title{position:relative;bottom:13px;font-family: 'latolight', sans-serif;font-size:16px;color:white;padding-right:6px;}
.userZenScores span.colorIcon{display:inline-block;position:relative;top:2px;}
#zenScoreGauge{display:block;}

.zenPrepTitle{width:100%;text-align:center;border-bottom:1px solid #bfbfbf;}
.zenPrepTitle span{font-family: 'latolight', sans-serif;font-size:21px;margin-top:5px;}
.zenPrepTitle span.company{font-weight:bold;}
.zenPrepTitle span.label{padding-left:5px;}

.prepScoreContainer{margin:0 auto;margin-top:12px;width:100%;height:170px;position:relative;max-width:400px;}
.prepScoreGaugeBG{width:100%;position:absolute;top:0px;}
.prepScoreGaugeFG{width:100%;position:absolute;top:0px;}
.prepScorePosition{width:100%;height:50px;text-align:center;position:absolute;top:55%;}
.prepScore{width:100%;height:80px;text-align:center;padding-left:8px;}
.prepScore span.value{font-family: 'latolight', sans-serif;font-size:50px;}
.prepScore span.percent{font-family: 'latolight', sans-serif;font-size:30px;}

.prepWord{position:relative;font-size:18px;color:black;width:100%;height:120px;text-align:center;margin:12px 0 0 0 !important;}
.prepWord span.company{font-size:18px;color:black;display:block;}
.prepWord span.title{font-size:18px;color:black;display:block;}
.prepWord span.value{font-size:30px;display:block;height:40px;}
.prepWord span.description{font-size:14px;color:grey;display:block;padding:0 60px;}

.zenBadgeTitle{width:100%;text-align:center;border-bottom:1px solid #bfbfbf;}
.zenBadgeTitle span{font-family: 'latolight', sans-serif;font-size:21px;margin-top:5px;}
.zenBadgeTitle span.company{font-weight:bold;}
.zenBadgeTitle span.label{padding-left:5px;}

.scorePanel{background-color:#ffffff;height:100vh;}
.commPanel{background-color:#f3f3f3;height:100vh;}
.zenBoardAction{max-width:1000px;margin:0 auto;margin-top:14px;}
.zenBoard-Messages{max-width:1000px;margin:0 auto;margin-top:14px;}
.messageContainer table td:last-child{padding:0;width:100%;}
table.recentMessages{width:100%;padding:0;margin:0;}
table.recentMessages td{text-align:left;font-family: 'latolight', sans-serif;border-bottom:2px solid #c3c3c3;vertical-align:bottom;padding-bottom:6px;}
table.recentMessages td.spacer{display:block;width:20px;border:0;}
table.recentMessages td.count{text-align:right;font-size:12px;padding-right;20px;}
table.recentMessages td.title{font-size:28px;width:100%;color:black;}
table.recentMessages td.button{position:relative;top:6px;padding:0 16px 0 12px;text-align:right;border-bottom:2px solid transparent;}
table.currentMessages{width:100%;padding:0;margin:20px 0 0 0;}
table.currentMessages .messageDisplay{height:400px;background-color:transparent;}
table.currentMessages td.msgArrowLeft{width:40px;vertical-align:top;padding:50px 5px;overflow:hidden;}
table.currentMessages td.msgArrowLeft span{
    display:block;
    width: 0px;
    height: 0px;
    border-top: 50px solid transparent;
    border-right: 28px solid white;
    border-bottom: 50px solid transparent;
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.22));
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.22));
}
table.currentMessages td.msgArrowLeft span:hover{border-right: 28px solid #ffca67;}
table.currentMessages td.msgArrowRight{width:40px;vertical-align:top;padding:50px 5px;overflow:hidden;}
table.currentMessages td.msgArrowRight span{
    display:block;
    width: 0px;
    height: 0px;
    border-top: 50px solid transparent;
    border-left: 28px solid white;
    border-bottom: 50px solid transparent;
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.22));
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.22));
}
table.currentMessages td.msgArrowRight span:hover{border-left: 28px solid #ffca67;}
/* @media queries */
@media (max-width: 767px) {
}
@media (max-width: 568px) {
    #zenboardMessage{padding:0;margin:0;}
    .userZenScores{right:0px;top:44px;text-align:right;}
    .userZenScores .respScore{position:absolute;top:-5px;right:0px;height:30px;padding:2px;}
    .userZenScores .respScore span.title{font-size:14px;font-weight:bold;top:-6px;left:-1px;}
    .userZenScores .respScore span.icon{}
    .userZenScores .partRate{position:absolute;top:26px;right:0px;height:30px;padding:2px;}
    .userZenScores .partRate span.title{font-size:14px;font-weight:bold;top:-6px;left:-1px;}
    .userZenScores .partRate span.icon{}
    table.recentMessages td.title{font-size:22px;padding-left:5px;}
    table.currentMessages td.msgArrowLeft{width:16px;vertical-align:top;padding:50px 1px;}
    table.currentMessages td.msgArrowLeft span{border-right: 14px solid white;border-top: 25px solid transparent;border-bottom: 25px solid transparent;}
    table.currentMessages td.msgArrowLeft span:hover{border-right: 14px solid #ffca67;}
    table.currentMessages td.msgArrowRight{width:16px;vertical-align:top;padding:50px 1px;}
    table.currentMessages td.msgArrowRight span{border-left: 14px solid white;border-top: 25px solid transparent;border-bottom: 25px solid transparent;}
    table.currentMessages td.msgArrowRight span:hover{border-left: 14px solid #ffca67;}
    .commPanel{height:320px;padding:0px;}
    .scorePanel{height:320px;}
    .prepWord{margin:-10px 0 0 0 !important;}
    .prepWord span.description{font-size:12px;}
    table.recentMessages td.spacer{width:5px;}
    table.recentMessages td.title{font-size:18px;}
}

/* INJURY LIST PAGE */
/* Injury List Full */

.injuryListFull {border: 1pt solid black;}
.sortItem {float: left;}
.sortItem li {float: left;}
.injuryListAvatar img{
    border:3px solid rgba(0, 0, 0, 0.48);
    border-radius:50%;
    width:60px;z-index:999;
    left:-2px;top:-2px;
}
table.injuryListFull {
    width: 100%;
    border-collapse: collapse;
    font-family: 'latolight', sans-serif;
}
table.injuryListFull tbody{border:1px solid #d6d6d6;border-radius:8px;}
table.injuryListFull thead{
    background-color: #c7c7c7;
    color: white;
    font-weight: bold;
    font-family: 'latosemibold', sans-serif;border:1px solid #989898;
}
table.injuryListFull thead td.sortable{cursor:pointer;color:white;vertical-align:middle;}
table.injuryListFull thead td.sortable:hover{background-color:#989898;}
table.injuryListFull thead td.sorted{background-color:#757575;}
table.injuryListFull thead td.sortable span.sortLabel{display:inline-block;position:relative;top:-9px;}
table.injuryListFull thead td.sortable span.icon{display:inline-block;position:relative;top:4px;}
/* Zebra striping */
table.injuryListFull tr:nth-of-type(even) {background-color: #eee;}
table.injuryListFull thead tr:hover{background-color:#c7c7c7;}
table.injuryListFull tr:hover{background-color:#696969;}
table.injuryListFull tr:hover td{color:white;}
table.injuryListFull td, table.injuryListFull th {
    padding: 6px;
    text-align: left;
}
table.injuryListFull td:nth-child(2){font-weight:bold;}
table.injuryListFull td:nth-child(3){}
table.injuryListFull td:nth-child(4){color:#b8b8b8;}
table.injuryListFull td:nth-child(5){}
table.injuryListFull td.mild{color:#ffbb00;}
table.injuryListFull td.moderate{color:#ff6700;}
table.injuryListFull td.severe{color:#f21100;}
/* Mobile Injury list */
.tableControls{font-family: 'latosemibold', sans-serif;position:relative;width:100%;height:50px;margin-bottom:15px;}
ul.tableSortControls {list-style:none;padding:0px;margin:0px;}
ul.tableSortControls li {display:inline-block;text-align:center;padding:2px 1px 0px 2px !important;margin:0px;}
ul.tableSortControls li:first-child{border:0px;}
ul.tableSortControls li span{display:block;font-size:11px;color:#939393;}
ul.tableSortControls li.label{width:30px;}
ul.tableSortControls li.label span{font-size:10px;color:#939393;position:relative;bottom:14px;}
ul.tableSortButtons{list-style:none;margin:0px;padding:0px;}
ul.tableSortButtons li{margin:1px;padding:0;border:0px;}
ul.tableSortButtons li a{width:24px;height:24px;}
ul.tableSortButtons li span{}
table.injuryListMobile{
    border-collapse: separate !important;width:100%;margin-bottom:16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border:1px solid #474747;}
.injuryListMobile thead td{
    text-align:left !important;
    padding-left:10px;
    height:50px !important;
    border:1px solid #474747;
    background-color:#474747;
    vertical-align:middle;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.injuryListMobile thead td span{position:relative;top:3px;left:10px;font-size:18px;font-family: 'latosemibold', sans-serif;color:white;}
.injuryListMobile thead td img{width:42px !important;height:42px !important;}
.injuryListMobile thead td span.icon{width:42px !important;height:42px !important;}
.injuryListMobile td{height:32px;}
.injuryListMobile td:first-child{font-size:12px;font-family: 'latosemibold', sans-serif;text-align:right;width:100px;vertical-align:middle;}
.injuryListMobile td:last-child{padding-left:4px;font-family: 'latolight', sans-serif;text-align:left;}
.injuryListMobile tr:last-child{
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border:1px solid #474747;
    border-top:0;}
/* @media queries */
@media (max-width: 767px) {
}
@media (max-width: 568px) {
}

/* TEAMBUILDER PAGE +User Managment Modal 
.userList ul{list-style:none;text-align:left;padding:0;margin:0;}
.userList li{display:inline-block;margin:4px;}
.userList li a{display:block;cursor:pointer;width:240px;margin:12px auto;padding;8px;border:2px solid #e4e4e4;border-radius:4px;background-color:#efefef;}
.userList li a:hover{border:2px solid #9ce528;text-decoration:none;background-color:white;}
.userList li a.selected{border:2px solid #e6b027;text-decoration:none;background-color:white;}
.userListUser table{margin:5px;}
.userListUser table td:first-child{padding-right:5px;}
.userListUser table td:last-child{text-align:left;width:100%;}
.userListUser .userAvatar{background-color:blue;border:3px solid grey;border-radius:50%;width:50px;height:50px;background-repeat:no-repeat;background-size:cover;}
.userListUser .name{font-family: 'latosemibold', sans-serif;color:#2c2c2c;font-size:14px;text-overflow:hidden;}
.userListUser .email{font-family: 'latolight', sans-serif;color:#6467f9;font-size:11px;}
ul.teamCircleLegend{list-style:none;padding:0;margin:0;position:absolute;top:26px;right:20px;}
ul.teamCircleLegend li{display:inline-block;position:relative;width:170px;}
ul.teamCircleLegend li span.circle{width:45px;height:45px;border:3px solid #545454;border-radius:50%;}
ul.teamCircleLegend li span.circle.required{background-color:#cf1717;}
ul.teamCircleLegend li span.circle.recommended{background-color:#e9940a;}
ul.teamCircleLegend li span.circle.suggested{background-color:#93cd17;}
ul.teamCircleLegend li span.title{font-family: 'latosemibold', sans-serif;color:white;font-size:11px;position:absolute;top:-2px;left:50px;border-bottom:1px solid lightgray;}
ul.teamCircleLegend li span.description{font-family: 'latolight', sans-serif;color:#3d3d3d;font-size:10px;width:100px;position:absolute;top:16px;left:50px;}
.teamCircleControl{background-repeat:no-repeat;background-size:contain;background-position:center -80px;background-image:url('/images/starburst-dark.png');height:90vh;border:1px solid transparent;}
.teamCircleButtonContainer{position:relative;width:100%;height:100%;}
*/
.zenfuciusUser{background-image:url('/images/zenfuciusAvatar.jpg');background-repeat:no-repeat;background-size:contain;width:132px;height:132px;position:absolute;top:60px;left:30px;border:3px solid black;border-radius:50%;}
.zenfuciusUser .nameTag{position:absolute;bottom:0px;}
.zenfuciusUser .nameTag .partial-circle {
    position: relative;
    height: 40px;
    width: 132px;
    overflow: hidden;
}
.zenfuciusUser .nameTag .partial-circle:before {
    content: '';
    position: absolute;
    height: 132px;
    width: 132px;
    border-radius: 50%;
    bottom: -3px;
    left:-3px;
    background: rgba(0, 0, 0, 0.61);
}
.zenfuciusUser .nameTag .name{font-family: 'latosemibold', sans-serif;color:white;position:absolute;top:8px;text-align:center;width:100%;height:20px;}
.teamUser{background-image:url('/images/zenfuciusAvatar.jpg');background-repeat:no-repeat;background-size:contain;width:100%;height:100%;border-radius:50%;}
.teamUser .nameTag{position:absolute;bottom:0px;}
.teamUser .nameTag .partial-circle {
    position: relative;
    height: 25px;
    width: 73px;
    overflow: hidden;
}

.zenfuciusUser{cursor: pointer;}
#currentUserAction{
    font-size: 14pt;
}
.infoModeInstructions{
    font-size: 16pt;
    font-weight: bolder;
    color: black !important;
}
/* @media queries */
@media (max-width: 767px) {
}
@media (max-width: 568px) {
}

/* TREE OF COMMUNICATIONS PAGE */
/* - this has its own CSS file - */
/* @media queries */
@media (max-width: 767px) {
}
@media (max-width: 568px) {
}

/* COMPANY PAGE */
/* @media queries */
@media (max-width: 767px) {
}
@media (max-width: 568px) {
}


/* ACTIVITY PAGE */
.injuredEmployeePost {color: lightcoral;}
.systemPost {
    text-align: center;
    color: darkblue;
}
#claimNumberErrors {color: red;}
.activityContent ul{list-style:none;padding:0px;margin:0px;}
.activityContent li{font-family: 'latosemibold', sans-serif;}
.activityContent span.note{font-size:10px;}
.activitySection{border:1px solid #e5e5e5;border-radius:8px;margin:10px 0 10px 0;}
div.sectionTitle{position:relative;height:36px;margin:0px 0 10px 0;padding-bottom:5px;background-color:#f4f4f4;line-height:36px;text-indent:44px;font-size:16px;}
div.sectionTitle span{position:absolute;top:-2px;left:0px;}
div.sectionContent{padding:8px;}
ul.activityItems{list-style:none;padding:0px;margin:0px;}
ul.activityItems li{font-family: 'latolight', sans-serif;}
.avatarBuilder{margin:0 auto;border:1px solid red;width:100%;}

/* CERTIFICATE PAGE */
.certificate{position:relative;width:1000px;height:700px;background-image:url('/images/zencertbg.jpg');background-position:top center;background-size:contain;background-repeat:no-repeat;padding:20px;margin:10 auto 0 auto;}
.certificate div.title{padding-top:150px;font-family: 'latolight', sans-serif;text-align:center;font-size:80px;width:100%;}
.certBody {text-align: center;width:100%;}

#certDate {
    position: absolute;
    left: 105px;
    bottom: 105px;
    text-align: center;
}

#certEnrollmentDept{
    position: absolute;
    right: 105px;
    bottom: 105px;
    text-align: center;
}

#dateString {
    text-decoration: underline;
}

/* PROFILE SETTINGS PAGE */
ul.iconSample{list-style:none;padding:0;margin:0;}
ul.iconSample li{display:inline-block;margin:12px;}
.avatarListItem{border: none !important;}
.avatarListItem a{
    margin:auto auto;
    display:block;
    background-color:#32CD32;
    width:60px;
    height:60px;
    cursor:pointer;
    background-size: cover;
    background-position:center center;
    transition: border-color 0.5s ease;
    border:6px solid transparent;
    border-radius:50%;
}
.avatarListItem a:hover{box-shadow:0px 0px 10px black;border:6px solid black;}
.avatarListItem.selected a{
    box-shadow:0px 0px 10px black;border:6px solid white;
}

/* ZENGARDEN PAGE */
.zengardenContainer{width:100%;
    min-height:700px;
    background-image:url('/images/zengarden.jpg');background-position:center center;background-size:contain;background-repeat:no-repeat;
}
.zengarden{max-width:600px;margin:auto;}
.zengardenContainer .diaryContent{
    margin:30px 0 20px 0;
    border-radius:8px;
    background-image:url('/images/trans/white70.png');
    border:0px solid #e7e7e7;
    padding:8px;
    border:1px solid #dedede;
}
.zengardenMessages{
    margin-top:30px;
    border-radius:8px;
    background-image:url('/images/trans/white05.png');
    border:0px solid #e7e7e7;
    padding:8px;
    width:100%;
    height:190px;
    overflow:hidden;
}

/* FIRST REPORT PAGE */
.docContainer{border:1px solid #d6d6d6;border-radius:8px;margin-top:20px;}
.labelSection{font-family: 'latolight', sans-serif;padding:0px !important;display:block;font-size:28px;color:#8e8e8e;border-bottom:2px solid #f2f2f2;margin:0 0 12px 0!important;}
.sectionInfo{margin:0 0 0 12px;font-family: 'latosemibold', sans-serif;font-size:14px;}
.docTitle{display:block;width:100%;text-align:center;padding:20px;margin-top:15px;font-family: 'latolight', sans-serif;font-size:38px;color:white;background-color:#b7b7b7;border-radius:8px;}
.docSubTitle{display:block;width:100%;text-align:center;margin-top:2px;font-size:14px;color:#5f5f5f;}

/* LOGIN PAGES */
.loginContainer{
    margin:0 auto;
    margin-top:20px;
    font-family: 'latolight', sans-serif;
    width:280px;
    box-shadow:0px 0px 1px rgba(0, 0, 0, 0.48)}
.loginTitle{
    padding:20px;
    text-align:center;
    background-color:#f9f9f9;
    font-size:25px;
    border-bottom:1px solid #e5e5e5;
}
.loginBody{padding:20px;}
.loginFooter{padding:0px;}
.loginFooter input[type=submit]{
    font-family: 'latosemibold', sans-serif;
    width:100%;
    height:50px;
    font-size:16px;
    background-color:#3b698b;
    color:white;
    border:none;
}
.loginFooter input[type=submit]:hover{background-color:#568cb5;}

#forgotPasswordLink{
    display:block;
    text-align:center;
}

