/**
 * Main Variables
 */
/**
 * Mixins
 */
/**
 * Styles
 */
.mtr-datepicker * {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  box-sizing: border-box;
}
.mtr-datepicker .mtr-input-slider {
  width: 50px !important;
  height: 85px !important;
  overflow: hidden !important;
  margin: 14px 6px !important;
  position: relative !important;
  float: left !important;
  text-align: center !important;
  vertical-align: middle !important;
  /** The navigatators of the input */
  /** The input field and values are stored here */
}
.mtr-datepicker .mtr-input-slider .mtr-arrow {
  height: 20px !important;
  line-height: 20px !important;
  cursor: pointer !important;
  z-index: 0 !important;
  position: relative !important;
}
.mtr-datepicker .mtr-input-slider .mtr-arrow span {
  display: block !important;
  margin: 0 auto !important;
}
.mtr-datepicker .mtr-input-slider .mtr-content {
  overflow: hidden !important;
  height: 45px !important;
  z-index: 1 !important;
  position: relative !important;
}
.mtr-datepicker .mtr-input-slider .mtr-content .mtr-input {
  width: 100% !important;
  height: 85px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  height: 45px !important;
  line-height: 45px !important;
  text-align: center !important;
}
.mtr-datepicker .mtr-input-slider .mtr-content input {
  border: none !important;
  height: 45px !important;
  font-size: 15px !important;
}
.mtr-datepicker .mtr-input-slider .mtr-content .mtr-values .mtr-default-value-holder,
.mtr-datepicker .mtr-input-slider .mtr-content .mtr-values .mtr-default-value {
  height: 45px !important;
  line-height: 45px !important;
  font-size: 15px !important;
}
.mtr-datepicker .mtr-input-slider .mtr-content .mtr-values .mtr-default-value.has-name,
.mtr-datepicker .mtr-input-slider .mtr-content .mtr-values .mtr-default-value-name {
  height: inherit !important;
  line-height: 22.5px !important;
}
.mtr-datepicker .mtr-input-slider .mtr-content .mtr-values .mtr-default-value.has-name {
  height: 22.5px !important;
}
.mtr-datepicker .mtr-input-slider .mtr-content .mtr-values .mtr-default-value-name {
  font-size: 10px !important;
}
.mtr-datepicker .mtr-input-slider .mtr-content::-webkit-scrollbar {
  display: none !important;
}
.mtr-datepicker .mtr-input-radio {
  margin: 20px 10px !important;
  padding-top: 20px !important;
  position: relative !important;
  float: left !important;
  font-size: 13px !important;
}
.mtr-datepicker .mtr-input-radio label {
  position: relative !important;
}
.mtr-datepicker .mtr-input-radio label span {
  position: relative !important;
  float: left !important;
}
.mtr-datepicker .mtr-row {
  position: relative !important;
  left:20px;
  width:220px;
  margin:0 auto;
}
.mtr-datepicker .mtr-clearfix {
  clear: both !important;
}
.mtr-datepicker .mtr-error-message {
  width: 80% !important;
  position: absolute !important;
  top: 20%;
  left: 10%;
  text-align: center !important;
  padding: 10px !important;
  z-index: 100000 !important;
}
