.pagebackground1, 
.pagebackground2,
.pagebackground3,
.pagebackground4,
.pagebackground5,
.pagebackground6,
.pagebackground7,
.pagebackground8,
.pagebackground9,
.pagebackground10,
.pagebackground11,
.pagebackground12,
.pagebackground13,
.pagebackground14,
.pagebackground15,
.pagebackground16,
.pagebackground17,
.pagebackground18
{background-image: url('/images/backgrounds/bghaze-ocean.png');} 

@media (max-width: 576px) {
    .pagebackground1, 
    .pagebackground2,
    .pagebackground3,
    .pagebackground4,
    .pagebackground5,
    .pagebackground6,
    .pagebackground7,
    .pagebackground8,
    .pagebackground9,
    .pagebackground10,
    .pagebackground11,
    .pagebackground12,
    .pagebackground13,
    .pagebackground14,
    .pagebackground15,
    .pagebackground16,
    .pagebackground17,
    .pagebackground18 {
        background: -moz-linear-gradient(top, #385261 60px, #5f8a9b 120px, #849e96 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #385261 60px, #5f8a9b 120px, #849e96 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #385261 60px, #5f8a9b 120px, #849e96 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#385261', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .pagebackground1, 
    body.light .pagebackground2,
    body.light .pagebackground3,
    body.light .pagebackground4,
    body.light .pagebackground5,
    body.light .pagebackground6,
    body.light .pagebackground7,
    body.light .pagebackground8,
    body.light .pagebackground9,
    body.light .pagebackground10,
    body.light .pagebackground11,
    body.light .pagebackground12,
    body.light .pagebackground13,
    body.light .pagebackground14,
    body.light .pagebackground15,
    body.light .pagebackground16,
    body.light .pagebackground17,
    body.light .pagebackground18 {
        background: -moz-linear-gradient(top, #385261 60px, #5f8a9b 120px, #849e96 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #385261 60px, #5f8a9b 120px, #849e96 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #385261 60px, #5f8a9b 120px, #849e96 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#385261', endColorstr='#ddd', GradientType=0);
    }
}
