html {
    --navbuttonbg: rgba(255, 255, 255, 0.3);
    --navbuttonbg-h: rgba(255, 255, 255, 0.9);
    --navbuttonText:#000000;
    --navbuttonText2:#000000;
}
.itemGrid__nav a span.mainText {
    text-shadow: 0px 0px 0px #ffffff40;
}
.itemGrid__nav a:hover {
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.27);
}