/*  Background Styles */

.bghaze-ivory {
    background-image: url('/images/backgrounds/bghaze-ivory.png');
}

.bghaze-silver {
    background-image: url('/images/backgrounds/bghaze-silver.png');
}

.bghaze-peach {
    background-image: url('/images/backgrounds/bghaze-peach.png');
}

.bghaze-violet {
    background-image: url('/images/backgrounds/bghaze-violet.png');
}

.bghaze-ocean {
    background-image: url('/images/backgrounds/bghaze-ocean.png');
}

.bghaze-moss {
    background-image: url('/images/backgrounds/bghaze-moss.png');
}

.bghaze-sienna {
    background-image: url('/images/backgrounds/bghaze-sienna.png');
}

.bghaze-rose {
    background-image: url('/images/backgrounds/bghaze-rose.png');
}

.bghaze-plum {
    background-image: url('/images/backgrounds/bghaze-plum.png');
}

.bghaze-steel {
    background-image: url('/images/backgrounds/bghaze-steel.png');
}

.bghaze-sky {
    background-image: url('/images/backgrounds/bghaze-sky.png');
}

.bghaze-orange {
    background-image: url('/images/backgrounds/bghaze-orange.png');
}

.bghaze-ice {
    background-image: url('/images/backgrounds/bghaze-ice.png');
}

.bghaze-smoke {
    background-image: url('/images/backgrounds/bghaze-smoke.png');
}

.bghaze-lava {
    background-image: url('/images/backgrounds/bghaze-lava.png');
}

.bghaze-garden {
    background-image: url('/images/backgrounds/bghaze-garden.png');
}

.bghaze-desert {
    background-image: url('/images/backgrounds/bghaze-desert.png');
}

.bghaze-midnight {
    background-image: url('/images/backgrounds/bghaze-midnight.png');
}

.bghaze-ember {
    background-image: url('/images/backgrounds/bghaze-ember.png');
}

@media (max-width: 576px) {
    .bghaze-ivory {
        background: -moz-linear-gradient(top, #385261 60px, #5f8a9b 120px, #9e9c84 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #385261 60px, #5f8a9b 120px, #9e9c84 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #385261 60px, #5f8a9b 120px, #9e9c84 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#385261', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-ivory {
        background: -moz-linear-gradient(top, #385261 60px, #5f8a9b 120px, #9e9c84 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #385261 60px, #5f8a9b 120px, #9e9c84 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #385261 60px, #5f8a9b 120px, #9e9c84 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#385261', endColorstr='#ddd', GradientType=0);
    }
    
    .bghaze-silver {
        background: -moz-linear-gradient(top, #4b595a 60px, #6c7375 120px, #6d8fa0 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #4b595a 60px, #6c7375 120px, #6d8fa0 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #4b595a 60px, #6c7375 120px, #6d8fa0 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1e4549', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-silver {
        background: -moz-linear-gradient(top, #4b595a 60px, #6c7375 120px, #6d8fa0 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #4b595a 60px, #6c7375 120px, #6d8fa0 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #4b595a 60px, #6c7375 120px, #6d8fa0 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1e4549', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-peach {
        background: -moz-linear-gradient(top, #805a44 60px, #aa6e40 120px, #6a3634 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #805a44 60px, #aa6e40 120px, #6a3634 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #805a44 60px, #aa6e40 120px, #6a3634 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#805a44', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-peach {
        background: -moz-linear-gradient(top, #805a44 60px, #aa6e40 120px, #c48987 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #805a44 60px, #aa6e40 120px, #c48987 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #805a44 60px, #aa6e40 120px, #c48987 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#805a44', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-violet {
        background: -moz-linear-gradient(top, #573569 60px, #473099 120px, #30466e 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #573569 60px, #473099 120px, #30466e 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #573569 60px, #473099 120px, #30466e 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#573569', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-violet {
        background: -moz-linear-gradient(top, #573569 60px, #473099 120px, #778cb3 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #573569 60px, #473099 120px, #778cb3 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #573569 60px, #473099 120px, #778cb3 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#573569', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-ocean {
        background: -moz-linear-gradient(top, #1e5789 60px, #21809b 120px, #186a75 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #1e5789 60px, #21809b 120px, #186a75 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #1e5789 60px, #21809b 120px, #186a75 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1e5789', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-ocean {
        background: -moz-linear-gradient(top, #1e5789 60px, #21809b 120px, #65aeb8 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #1e5789 60px, #21809b 120px, #65aeb8 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #1e5789 60px, #21809b 120px, #65aeb8 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1e5789', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-moss {
        background: -moz-linear-gradient(top, #417315 60px, #68881c 120px, #566313 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #417315 60px, #68881c 120px, #566313 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #417315 60px, #68881c 120px, #566313 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#417315', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-moss {
        background: -moz-linear-gradient(top, #417315 60px, #68881c 120px, #adbd5d 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #417315 60px, #68881c 120px, #adbd5d 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #417315 60px, #68881c 120px, #adbd5d 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#417315', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-sienna {
        background: -moz-linear-gradient(top, #582e1a 60px, #532517 120px, #311b06 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #582e1a 60px, #532517 120px, #311b06 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #582e1a 60px, #532517 120px, #311b06 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#722b21', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-sienna {
        background: -moz-linear-gradient(top, #582e1a 60px, #532517 120px, #ac7a4c 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #582e1a 60px, #532517 120px, #ac7a4c 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #582e1a 60px, #532517 120px, #ac7a4c 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#722b21', endColorstr='#2e2e2e', GradientType=0);
    }

    .bghaze-rose {
        background: -moz-linear-gradient(top, #803166 60px, #9b2b4d 120px, #6a243b 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #803166 60px, #9b2b4d 120px, #6a243b 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #803166 60px, #9b2b4d 120px, #6a243b 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#803166', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-rose {
        background: -moz-linear-gradient(top, #803166 60px, #9b2b4d 120px, #c97993 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #803166 60px, #9b2b4d 120px, #c97993 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #803166 60px, #9b2b4d 120px, #c97993 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#803166', endColorstr='#2e2e2e', GradientType=0);
    }

    .bghaze-plum {
        background: -moz-linear-gradient(top, #763c84 60px, #6f408c 120px, #472d6b 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #763c84 60px, #6f408c 120px, #472d6b 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #763c84 60px, #6f408c 120px, #472d6b 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#763c84', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-plum {
        background: -moz-linear-gradient(top, #763c84 60px, #6f408c 120px, #9c7dc7 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #763c84 60px, #6f408c 120px, #9c7dc7 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #763c84 60px, #6f408c 120px, #9c7dc7 180px, #ddd 300px, #2e2eddd2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#763c84', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-steel {
        background: -moz-linear-gradient(top, #1e4549 60px, #436c77 120px, #6d8fa0 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #1e4549 60px, #436c77 120px, #6d8fa0 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #1e4549 60px, #436c77 120px, #6d8fa0 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1e4549', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-steel {
        background: -moz-linear-gradient(top, #1e4549 60px, #436c77 120px, #6d8fa0 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #1e4549 60px, #436c77 120px, #6d8fa0 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #1e4549 60px, #436c77 120px, #6d8fa0 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1e4549', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-sky {
        background: -moz-linear-gradient(top, #1da2e0 60px, #2350b2 120px, #0b0f8e 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #1da2e0 60px, #2350b2 120px, #0b0f8e 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #1da2e0 60px, #2350b2 120px, #0b0f8e 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1da2e0', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-sky {
        background: -moz-linear-gradient(top, #1da2e0 60px, #2350b2 120px, #6266cf 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #1da2e0 60px, #2350b2 120px, #6266cf 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #1da2e0 60px, #2350b2 120px, #6266cf 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1da2e0', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-orange {
        background: -moz-linear-gradient(top, #fa9804 60px, #a85201 120px, #793407 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #fa9804 60px, #a85201 120px, #793407 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #fa9804 60px, #a85201 120px, #793407 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fa9804', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-orange {
        background: -moz-linear-gradient(top, #fa9804 60px, #a85201 120px, #d49062 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #fa9804 60px, #a85201 120px, #d49062 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #fa9804 60px, #a85201 120px, #d49062 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fa9804', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-ice {
        background: -moz-linear-gradient(top, #5fbec2 60px, #49748d 120px, #174666 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #5fbec2 60px, #49748d 120px, #174666 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #5fbec2 60px, #49748d 120px, #174666 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5fbec2', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-ice {
        background: -moz-linear-gradient(top, #5fbec2 60px, #49748d 120px, #7ab1d6 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #5fbec2 60px, #49748d 120px, #7ab1d6 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #5fbec2 60px, #49748d 120px, #7ab1d6 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5fbec2', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-smoke {
        background: -moz-linear-gradient(top, #7c8888 60px, #576168 120px, #39323d 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #7c8888 60px, #576168 120px, #39323d 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #7c8888 60px, #576168 120px, #39323d 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7c8888', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-smoke {
        background: -moz-linear-gradient(top, #7c8888 60px, #576168 120px, #afa4b6 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #7c8888 60px, #576168 120px, #afa4b6 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #7c8888 60px, #576168 120px, #afa4b6 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7c8888', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-lava {
        background: -moz-linear-gradient(top, #9e0606 60px, #631d14 120px, #2c070c 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #9e0606 60px, #631d14 120px, #2c070c 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #9e0606 60px, #631d14 120px, #2c070c 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#9e0606', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-lava {
        background: -moz-linear-gradient(top, #9e0606 60px, #631d14 120px, #e95568 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #9e0606 60px, #631d14 120px, #e95568 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #9e0606 60px, #631d14 120px, #e95568 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#9e0606', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-garden {
        background: -moz-linear-gradient(top, #12b85d 60px, #136e06 120px, #083b26 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #12b85d 60px, #136e06 120px, #083b26 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #12b85d 60px, #136e06 120px, #083b26 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#12b85d', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-garden {
        background: -moz-linear-gradient(top, #12b85d 60px, #136e06 120px, #49bd8c 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #12b85d 60px, #136e06 120px, #49bd8c 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #12b85d 60px, #136e06 120px, #49bd8c 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#12b85d', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-desert {
        background: -moz-linear-gradient(top, #a5a073 60px, #887952 120px, #5c4e34 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #a5a073 60px, #887952 120px, #5c4e34 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #a5a073 60px, #887952 120px, #5c4e34 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a5a073', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-desert {
        background: -moz-linear-gradient(top, #a5a073 60px, #887952 120px, #b8a88c 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #a5a073 60px, #887952 120px, #b8a88c 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #a5a073 60px, #887952 120px, #b8a88c 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a5a073', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-midnight {
        background: -moz-linear-gradient(top, #282930 60px, #374563 120px, #1d1e41 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #282930 60px, #374563 120px, #1d1e41 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #282930 60px, #374563 120px, #1d1e41 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#282930', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-midnight {
        background: -moz-linear-gradient(top, #282930 60px, #374563 120px, #656794 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #282930 60px, #374563 120px, #656794 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #282930 60px, #374563 120px, #656794 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#282930', endColorstr='#ddd', GradientType=0);
    }

    .bghaze-ember {
        background: -moz-linear-gradient(top, #aa0505 60px, #3d0c05 120px, #220402 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: -webkit-linear-gradient(top, #aa0505 60px, #3d0c05 120px, #220402 180px, #2e2e2e 300px, #2e2e2e 100%);
        background: linear-gradient(to bottom, #aa0505 60px, #3d0c05 120px, #220402 180px, #2e2e2e 300px, #2e2e2e 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#aa0505', endColorstr='#2e2e2e', GradientType=0);
    }
    body.light .bghaze-ember {
        background: -moz-linear-gradient(top, #aa0505 60px, #922b1b 120px, #d15850 180px, #ddd 300px, #ddd 100%);
        background: -webkit-linear-gradient(top, #aa0505 60px, #922b1b 120px, #d15850 180px, #ddd 300px, #ddd 100%);
        background: linear-gradient(to bottom, #aa0505 60px, #922b1b 120px, #d15850 180px, #ddd 300px, #ddd 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#aa0505', endColorstr='#ddd', GradientType=0);
    }
}