html {
--sitelogo: url('/branding/default/images/logo_dark.png');
--sitelogo-dark: url('/branding/default/images/logo_dark.png');
--sitelogo-light: url('/branding/default/images/logo_light.png');
--sitelogo-stacked: url('/branding/default/images/logo_stacked_dark.png');
--sitelogo-stacked-dark: url('/branding/default/images/logo_stacked_dark.png');
--sitelogo-stacked-light: url('/branding/default/images/logo_stacked_light.png');
--certificateImage: url('/branding/default/images/certificatelg-bg.jpg');
--certificateImageSm: url('/branding/default/images/certificate-bg.jpg');
--clientColor1: #739109;
--clientColor1-h: #0c9fcc;
--clientColor2: #ff9100;
--clientColor2-h: #9a38ad;
--navBar: #232323;
--navBar-dark: #232323;
--navBar-light: #f3f3f3;
--menuLinks: #079ec4;
--menuLinks-dark: #079ec4;
--menuLinks-light: #079ec4;
--basicText: #ffffff;
--basicText-dark: #ffffff;
--basicText-light: #1b1b1b;
--menuText: #ffffff;
--menuText-dark: #ffffff;
--menuText-light: #242424;
--menuUnderline: rgba(255, 255, 255, 0.4);
--menuUnderline-dark: rgba(255, 255, 255, 0.4);
--menuUnderline-light: rgba(0, 0, 0, 0.4);
--slidemenu: rgba(20, 20, 20, 0.94);
--slidemenu-dark: rgba(20, 20, 20, 0.94);
--slidemenu-light: rgba(254, 254, 254, 0.94);
--bodyBg: #222222;
--bodyBg-dark: #222222;
--bodyBg-light: #dddddd;
--bodyFont: #ffffff;
--bodyFont-dark: #ffffff;
--bodyFont-light: #4d4d4d;
--widgetDockBg:#00000070;
--widgetDockBg-dark:#00000070;
--widgetDockBg-light:#ffffff70;
--widgetActive:#000000;
--widgetActive-dark:#000000;
--widgetActive-light:#ffffff;
--navbuttonText:#ffffff;
--navbuttonText2:#ffffff60;
--pageTitle: #ffffff;
--pageTitle-dark: #ffffff;
--pageTitle-light: #000000;
--pageSubTitle: #ffffff;
--pageSubTitle-dark: #ffffff;
--pageSubTitle-light: #000000;

--stdpanel: #0c0c0c;
--stdpanel-dark: #0c0c0c;
--stdpanel-light: #ececec;
--stdpanelh: #1d1d1d;
--stdpanelh-dark: #1d1d1d;
--stdpanelh-light: #1d1d1d;
--stdpaneltr: rgba(0, 0, 0, 0.9);
--stdpaneltr-dark: rgba(0, 0, 0, 0.9);
--stdpaneltr-light: rgba(235, 235, 235, 0.9);
--stdpanelt: rgba(0, 0, 0, 0.6);
--stdpanelt-dark: rgba(0, 0, 0, 0.6);
--stdpanelt-light: rgba(233, 233, 233, 0.6);
--sectionpanelt: rgba(0, 0, 0, 0.3); /* panel bg */
--sectionpanelt-dark: rgba(0, 0, 0, 0.3);
--sectionpanelt-light: rgba(228, 228, 228, 0.8);
--sectionpanelo: rgba(255, 255, 255, 0.1); /* panel outline */
--sectionpanelo-dark: rgba(255, 255, 255, 0.1);
--sectionpanelo-light: rgba(17, 17, 17, 0.4);
--sectionpanelhr: rgba(2, 2, 2, 0.692);
--sectionpanelc: rgba(0, 0, 0, 0.7);
--sectiontitle: #f4f4f4;
--sectiontitle-dark: #f4f4f4;
--sectiontitle-light: #020202;
--sectiontitleicon: #737373;
--sectiontitleicon-dark: #737373;
--sectiontitleicon-light: #070707;
--sectioncontent: #c3c3c3;
--sectioncontent-dark: #c3c3c3;
--sectioncontent-light: #141414;
--flexactive: #fc5f04;
--flexhover: #000000;
--flexhover-dark: #000000;
--flexhover-light: #ffffff;
--activeRow: #772702;
--activeRowh: #fc5f04;
--hr: rgba(255, 255, 255, 0.26);

}