html {
/* ------ default ------ */
--theme1-name: 'default';
--theme1-dashboard: url('/branding/default/themes/theme1/dashboard.jpg');
--theme1-color1: #4c5d68;
--theme1-color2: #d4c890;
--theme1-color3: #5f635e;
--theme1-color4: #24242370;

/* ------ dark ------ */
--theme2-name: 'dark';
--theme2-dashboard: url('/branding/default/themes/theme2/dashboard.jpg');
--theme2-color1: #222222;
--theme2-color2: #1d1d1d;
--theme2-color3: #707270;
--theme2-color4: #919190;

/* ------ cool ------ */
--theme3-name: 'cool';
--theme3-dashboard: url('/branding/default/themes/theme3/dashboard.jpg');
--theme3-color1: #2a1672;
--theme3-color2: #4733ff;
--theme3-color3: #11b6cc;
--theme3-color4: #70b2d1;

/* ------ light ------ */
--theme4-name: 'light';
--theme4-dashboard: url('/branding/default/themes/theme4/dashboard.jpg');
--theme4-color1: #8a8883;
--theme4-color2: #b9b68d;
--theme4-color3: #555854;
--theme4-color4: #333330;

/* ------ warm ------ */
--theme5-name: 'warm';
--theme5-dashboard: url('/branding/default/themes/theme5/dashboard.jpg');
--theme5-color1: #ac743f;
--theme5-color2: #a05736;
--theme5-color3: #eba462;
--theme5-color4: #6e513d;

/* ------ bamboo ------ */
--theme6-name: 'bamboo';
--theme6-dashboard: url('/branding/default/themes/theme6/dashboard.jpg');
--theme6-color1: #1e6b0b;
--theme6-color2: #26ac6d;
--theme6-color3: #0b6d44;
--theme6-color4: #13883a;

/* ------ autumn ------ */
--theme7-name: 'autumn';
--theme7-dashboard: url('/branding/default/themes/theme7/dashboard.jpg');
--theme7-color1: #6b0b0b;
--theme7-color2: #ac6e26;
--theme7-color3: #6d0b41;
--theme7-color4: #881323;

/* ------ bamboo2 ------ */
--theme8-name: 'bamboo2';
--theme8-dashboard: url('/branding/default/themes/theme8/dashboard.jpg');
--theme8-color1: #47663f;
--theme8-color2: #437960;
--theme8-color3: #3f705c;
--theme8-color4: #4d745a;

/* ------ beach ------ */
--theme9-name: 'beach';
--theme9-dashboard: url('/branding/default/themes/theme9/dashboard.jpg');
--theme9-color1: #0b556b;
--theme9-color2: #4a93af;
--theme9-color3: #70725c;
--theme9-color4: #9ca17d;

/* ------ woods ------ */
--theme10-name: 'woods';
--theme10-dashboard: url('/branding/default/themes/theme10/dashboard.jpg');
--theme10-color1: #583f2b;
--theme10-color2: #80644a;
--theme10-color3: #0b6d44;
--theme10-color4: #13883a;

/* ------ island ------ */
--theme11-name: 'island';
--theme11-dashboard: url('/branding/default/themes/theme11/dashboard.jpg');
--theme11-color1: #e27c1d;
--theme11-color2: #dfa04e;
--theme11-color3: #663475;
--theme11-color4: #8e3b91;

/* ------ lotus ------ */
--theme12-name: 'lotus';
--theme12-dashboard: url('/branding/default/themes/theme12/dashboard.jpg');
--theme12-color1: #7e2d6c;
--theme12-color2: #a95abd;
--theme12-color3: #0b6d44;
--theme12-color4: #13883a;

/* ------ ocean ------ */
--theme13-name: 'ocean';
--theme13-dashboard: url('/branding/default/themes/theme13/dashboard.jpg');
--theme13-color1: #0b406b;
--theme13-color2: #268dac;
--theme13-color3: #0b616d;
--theme13-color4: #135d88;

/* ------ purplehaze ------ */
--theme14-name: 'purplehaze';
--theme14-dashboard: url('/branding/default/themes/theme14/dashboard.jpg');
--theme14-color1: #4d0b6b;
--theme14-color2: #7b26ac;
--theme14-color3: #61345f;
--theme14-color4: #74447a;

/* ------ redleaf ------ */
--theme15-name: 'redleaf';
--theme15-dashboard: url('/branding/default/themes/theme15/dashboard.jpg');
--theme15-color1: #5c2920;
--theme15-color2: #944242;
--theme15-color3: #6d0b28;
--theme15-color4: #85345c;

/* ------ sand ------ */
--theme16-name: 'sand';
--theme16-dashboard: url('/branding/default/themes/theme16/dashboard.jpg');
--theme16-color1: #695358;
--theme16-color2: #967c6e;
--theme16-color3: #796f68;
--theme16-color4: #a19680;

/* ------ sky ------ */
--theme17-name: 'sky';
--theme17-dashboard: url('/branding/default/themes/theme17/dashboard.jpg');
--theme17-color1: #0b356b;
--theme17-color2: #5369b3;
--theme17-color3: #3d6e8a;
--theme17-color4: #3f528d;

/* ------ zenstone ------ */
--theme18-name: 'zenstone';
--theme18-dashboard: url('/branding/default/themes/theme18/dashboard.jpg');
--theme18-color1: #3b4046;
--theme18-color2: #414b4d;
--theme18-color3: #576064;
--theme18-color4: #516264;


}

.themeSelector ul{list-style:none;padding:0;margin:0;}
.themeSelector li{margin:14px 0;border-radius:12px;border:2px solid transparent;cursor:pointer;overflow:hidden;position:relative;}
.themeSelector li.selected:after{font-family:'zenjuriesfont';font-size:1.7rem;content: '\e018';color:green;position: absolute;right:4px;top:4px;text-shadow: 2px 2px 5px #000;}
.themeSelector li .themeSelectorBg{text-align:left;background-repeat:no-repeat;background-size:cover;width:100%;height:100px;}
.themeSelector li:hover{border-color:white;}
.themeSelector li .themeSelectorBg span.themeName{display:block;width:100%;text-align:center;background-color:#00000050;padding:12px;} 
.themeSelector li .themeSelectorBg span.themeName:after{color:white;font-weight:300;font-size:1.1rem;text-shadow: 2px 2px 5px #000;} 
.themeSelector li .themeSelectorBg span.themeColor,.themeColorBox{display:inline-block;width:30px;height:30px;margin:5px;border-radius:4px;-webkit-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.86);
    box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.86);}

.themeSelector li .themeSelectorBg.theme1{background-image: var(--theme1-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme1 span.themeColor.color1,
.theme1.color1{background-color:var(--theme1-color1);} 
.themeSelector li .themeSelectorBg.theme1 span.themeColor.color2,
.theme1.color2{background-color:var(--theme1-color2);} 
.themeSelector li .themeSelectorBg.theme1 span.themeColor.color3,
.theme1.color3{background-color:var(--theme1-color3);}
.themeSelector li .themeSelectorBg.theme1 span.themeColor.color4,
.theme1.color4{background-color:var(--theme1-color4);} 
.themeSelector li .themeSelectorBg.theme1 span.themeName:after,
.theme1.themeName:after{content:var(--theme1-name);}

.themeSelector li .themeSelectorBg.theme2{background-image: var(--theme2-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme2 span.themeColor.color1,
.theme2.color1{background-color:var(--theme2-color1);} 
.themeSelector li .themeSelectorBg.theme2 span.themeColor.color2,
.theme2.color2{background-color:var(--theme2-color2);} 
.themeSelector li .themeSelectorBg.theme2 span.themeColor.color3,
.theme2.color3{background-color:var(--theme2-color3);}
.themeSelector li .themeSelectorBg.theme2 span.themeColor.color4,
.theme2.color4{background-color:var(--theme2-color4);}
.themeSelector li .themeSelectorBg.theme2 span.themeName:after,
.theme2.themeName:after{content:var(--theme2-name);}

.themeSelector li .themeSelectorBg.theme3{background-image: var(--theme3-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme3 span.themeColor.color1,
.theme3.color1{background-color:var(--theme3-color1);} 
.themeSelector li .themeSelectorBg.theme3 span.themeColor.color2,
.theme3.color2{background-color:var(--theme3-color2);} 
.themeSelector li .themeSelectorBg.theme3 span.themeColor.color3,
.theme3.color3{background-color:var(--theme3-color3);}
.themeSelector li .themeSelectorBg.theme3 span.themeColor.color4,
.theme3.color4{background-color:var(--theme3-color4);}
.themeSelector li .themeSelectorBg.theme3 span.themeName:after,
.theme3.themeName:after{content:var(--theme3-name);}

.themeSelector li .themeSelectorBg.theme4{background-image: var(--theme4-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme4 span.themeColor.color1,
.theme4.color1{background-color:var(--theme4-color1);} 
.themeSelector li .themeSelectorBg.theme4 span.themeColor.color2,
.theme4.color2{background-color:var(--theme4-color2);} 
.themeSelector li .themeSelectorBg.theme4 span.themeColor.color3,
.theme4.color3{background-color:var(--theme4-color3);}
.themeSelector li .themeSelectorBg.theme4 span.themeColor.color4,
.theme4.color4{background-color:var(--theme4-color4);}
.themeSelector li .themeSelectorBg.theme4 span.themeName:after,
.theme4.themeName:after{content:var(--theme4-name);}

.themeSelector li .themeSelectorBg.theme5{background-image: var(--theme5-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme5 span.themeColor.color1,
.theme5.color1{background-color:var(--theme5-color1);} 
.themeSelector li .themeSelectorBg.theme5 span.themeColor.color2,
.theme5.color2{background-color:var(--theme5-color2);} 
.themeSelector li .themeSelectorBg.theme5 span.themeColor.color3,
.theme5.color3{background-color:var(--theme5-color3);}
.themeSelector li .themeSelectorBg.theme5 span.themeColor.color4,
.theme5.color4{background-color:var(--theme5-color4);}
.themeSelector li .themeSelectorBg.theme5 span.themeName:after,
.theme5.themeName:after{content:var(--theme5-name);}

.themeSelector li .themeSelectorBg.theme6{background-image: var(--theme6-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme6 span.themeColor.color1,
.theme6.color1{background-color:var(--theme6-color1);} 
.themeSelector li .themeSelectorBg.theme6 span.themeColor.color2,
.theme6.color2{background-color:var(--theme6-color2);} 
.themeSelector li .themeSelectorBg.theme6 span.themeColor.color3,
.theme6.color3{background-color:var(--theme6-color3);}
.themeSelector li .themeSelectorBg.theme6 span.themeColor.color4,
.theme6.color4{background-color:var(--theme6-color4);}
.themeSelector li .themeSelectorBg.theme6 span.themeName:after,
.theme6.themeName:after{content:var(--theme6-name);}

.themeSelector li .themeSelectorBg.theme7{background-image: var(--theme7-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme7 span.themeColor.color1,
.theme7.color1{background-color:var(--theme7-color1);} 
.themeSelector li .themeSelectorBg.theme7 span.themeColor.color2,
.theme7.color2{background-color:var(--theme7-color2);} 
.themeSelector li .themeSelectorBg.theme7 span.themeColor.color3,
.theme7.color3{background-color:var(--theme7-color3);}
.themeSelector li .themeSelectorBg.theme7 span.themeColor.color4,
.theme7.color4{background-color:var(--theme7-color4);}
.themeSelector li .themeSelectorBg.theme7 span.themeName:after,
.theme7.themeName:after{content:var(--theme7-name);}

.themeSelector li .themeSelectorBg.theme8{background-image: var(--theme8-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme8 span.themeColor.color1,
.theme8.color1{background-color:var(--theme8-color1);} 
.themeSelector li .themeSelectorBg.theme8 span.themeColor.color2,
.theme8.color2{background-color:var(--theme8-color2);} 
.themeSelector li .themeSelectorBg.theme8 span.themeColor.color3,
.theme8.color3{background-color:var(--theme8-color3);}
.themeSelector li .themeSelectorBg.theme8 span.themeColor.color4,
.theme8.color4{background-color:var(--theme8-color4);}
.themeSelector li .themeSelectorBg.theme8 span.themeName:after,
.theme8.themeName:after{content:var(--theme8-name);}

.themeSelector li .themeSelectorBg.theme9{background-image: var(--theme9-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme9 span.themeColor.color1,
.theme9.color1{background-color:var(--theme9-color1);} 
.themeSelector li .themeSelectorBg.theme9 span.themeColor.color2,
.theme9.color2{background-color:var(--theme9-color2);} 
.themeSelector li .themeSelectorBg.theme9 span.themeColor.color3,
.theme9.color3{background-color:var(--theme9-color3);}
.themeSelector li .themeSelectorBg.theme9 span.themeColor.color4,
.theme9.color4{background-color:var(--theme9-color4);}
.themeSelector li .themeSelectorBg.theme9 span.themeName:after,
.theme9.themeName:after{content:var(--theme9-name);}

.themeSelector li .themeSelectorBg.theme10{background-image: var(--theme10-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme10 span.themeColor.color1,
.theme10.color1{background-color:var(--theme10-color1);} 
.themeSelector li .themeSelectorBg.theme10 span.themeColor.color2,
.theme10.color2{background-color:var(--theme10-color2);} 
.themeSelector li .themeSelectorBg.theme10 span.themeColor.color3,
.theme10.color3{background-color:var(--theme10-color3);}
.themeSelector li .themeSelectorBg.theme10 span.themeColor.color4,
.theme10.color4{background-color:var(--theme10-color4);}
.themeSelector li .themeSelectorBg.theme10 span.themeName:after,
.theme10.themeName:after{content:var(--theme10-name);}

.themeSelector li .themeSelectorBg.theme11{background-image: var(--theme11-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme11 span.themeColor.color1,
.theme11.color1{background-color:var(--theme11-color1);} 
.themeSelector li .themeSelectorBg.theme11 span.themeColor.color2,
.theme11.color2{background-color:var(--theme11-color2);} 
.themeSelector li .themeSelectorBg.theme11 span.themeColor.color3,
.theme11.color3{background-color:var(--theme11-color3);}
.themeSelector li .themeSelectorBg.theme11 span.themeColor.color4,
.theme11.color4{background-color:var(--theme11-color4);}
.themeSelector li .themeSelectorBg.theme11 span.themeName:after,
.theme11.themeName:after{content:var(--theme11-name);}

.themeSelector li .themeSelectorBg.theme12{background-image: var(--theme12-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme12 span.themeColor.color1,
.theme12.color1{background-color:var(--theme12-color1);} 
.themeSelector li .themeSelectorBg.theme12 span.themeColor.color2,
.theme12.color2{background-color:var(--theme12-color2);} 
.themeSelector li .themeSelectorBg.theme12 span.themeColor.color3,
.theme12.color3{background-color:var(--theme12-color3);}
.themeSelector li .themeSelectorBg.theme12 span.themeColor.color4,
.theme12.color4{background-color:var(--theme12-color4);}
.themeSelector li .themeSelectorBg.theme12 span.themeName:after,
.theme12.themeName:after{content:var(--theme12-name);}

.themeSelector li .themeSelectorBg.theme13{background-image: var(--theme13-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme13 span.themeColor.color1,
.theme13.color1{background-color:var(--theme13-color1);} 
.themeSelector li .themeSelectorBg.theme13 span.themeColor.color2,
.theme13.color2{background-color:var(--theme13-color2);} 
.themeSelector li .themeSelectorBg.theme13 span.themeColor.color3,
.theme13.color3{background-color:var(--theme13-color3);}
.themeSelector li .themeSelectorBg.theme13 span.themeColor.color4,
.theme13.color4{background-color:var(--theme13-color4);}
.themeSelector li .themeSelectorBg.theme13 span.themeName:after,
.theme13.themeName:after{content:var(--theme13-name);}

.themeSelector li .themeSelectorBg.theme14{background-image: var(--theme14-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme14 span.themeColor.color1,
.theme14.color1{background-color:var(--theme14-color1);} 
.themeSelector li .themeSelectorBg.theme14 span.themeColor.color2,
.theme14.color2{background-color:var(--theme14-color2);} 
.themeSelector li .themeSelectorBg.theme14 span.themeColor.color3,
.theme14.color3{background-color:var(--theme14-color3);}
.themeSelector li .themeSelectorBg.theme14 span.themeColor.color4,
.theme14.color4{background-color:var(--theme14-color4);}
.themeSelector li .themeSelectorBg.theme14 span.themeName:after,
.theme14.themeName:after{content:var(--theme14-name);}

.themeSelector li .themeSelectorBg.theme15{background-image: var(--theme15-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme15 span.themeColor.color1,
.theme15.color1{background-color:var(--theme15-color1);} 
.themeSelector li .themeSelectorBg.theme15 span.themeColor.color2,
.theme15.color2{background-color:var(--theme15-color2);} 
.themeSelector li .themeSelectorBg.theme15 span.themeColor.color3,
.theme15.color3{background-color:var(--theme15-color3);}
.themeSelector li .themeSelectorBg.theme15 span.themeColor.color4,
.theme15.color4{background-color:var(--theme15-color4);}
.themeSelector li .themeSelectorBg.theme15 span.themeName:after,
.theme15.themeName:after{content:var(--theme15-name);}

.themeSelector li .themeSelectorBg.theme16{background-image: var(--theme16-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme16 span.themeColor.color1,
.theme16.color1{background-color:var(--theme16-color1);} 
.themeSelector li .themeSelectorBg.theme16 span.themeColor.color2,
.theme16.color2{background-color:var(--theme16-color2);} 
.themeSelector li .themeSelectorBg.theme16 span.themeColor.color3,
.theme16.color3{background-color:var(--theme16-color3);}
.themeSelector li .themeSelectorBg.theme16 span.themeColor.color4,
.theme16.color4{background-color:var(--theme16-color4);}
.themeSelector li .themeSelectorBg.theme16 span.themeName:after,
.theme16.themeName:after{content:var(--theme16-name);}

.themeSelector li .themeSelectorBg.theme17{background-image: var(--theme17-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme17 span.themeColor.color1,
.theme17.color1{background-color:var(--theme17-color1);} 
.themeSelector li .themeSelectorBg.theme17 span.themeColor.color2,
.theme17.color2{background-color:var(--theme17-color2);} 
.themeSelector li .themeSelectorBg.theme17 span.themeColor.color3,
.theme17.color3{background-color:var(--theme17-color3);}
.themeSelector li .themeSelectorBg.theme17 span.themeColor.color4,
.theme17.color4{background-color:var(--theme17-color4);}
.themeSelector li .themeSelectorBg.theme17 span.themeName:after,
.theme17.themeName:after{content:var(--theme17-name);}

.themeSelector li .themeSelectorBg.theme18{background-image: var(--theme18-dashboard); background-position:bottom right;}
.themeSelector li .themeSelectorBg.theme18 span.themeColor.color1,
.theme18.color1{background-color:var(--theme18-color1);} 
.themeSelector li .themeSelectorBg.theme18 span.themeColor.color2,
.theme18.color2{background-color:var(--theme18-color2);} 
.themeSelector li .themeSelectorBg.theme18 span.themeColor.color3,
.theme18.color3{background-color:var(--theme18-color3);}
.themeSelector li .themeSelectorBg.theme18 span.themeColor.color4,
.theme18.color4{background-color:var(--theme18-color4);}
.themeSelector li .themeSelectorBg.theme18 span.themeName:after,
.theme18.themeName:after{content:var(--theme18-name);}